[2014-10-13 11:21] NSElvis opened #2 "Add support for end date not been before start date"

[2014-10-17 08:02] 3lvis opened #18 "HYPFormatter shouldn't be needed anymore"

[2014-10-20 08:31] 3lvis opened #32 "Handle formatting of floats properly"

[2014-10-20 08:31] 3lvis opened #33 "Handle currency formatting"
For example `453323` should appear as `453,323.0`

`1000233` appear as `1,000,233.0`

If the field type is currency

[2014-10-21 09:59] 3lvis opened #35 "Collapsed valid sections"

[2014-10-29 14:46] 3lvis opened #54 "Show localized dots for float numbers (comas and dots)"
If norwegian `,`
If english `.`

[2014-10-30 10:14] zenangst opened #55 "Add maximum values to integer and float field types"
We should support for maximum values in the validation array on integer & float field types.

[2014-11-02 19:49] 3lvis opened #58 "Use performBatchUpdates for multiple collectionView operations"
`[self.collectionView performBatchUpdates]`

[2014-11-05 12:39] #55 closed, assigned to nobody

[2014-11-11 08:17] zenangst opened #72 "Add convenience methods for fetching fields that take the hidden state into account"
We should provide some convenience methods for fetching fields that take the hidden state into account.

[2014-11-17 22:21] 3lvis opened #78 "SSNValidator and PhoneNumberValidator should have some default validations"
We saw in [] that using the validators wasn't enough for example it doesn't check for length unless you add a dictionary with this validations.

[2014-11-20 23:14] 3lvis opened #85 "Update targets don't get performed if their form target is hidden"

[2014-11-21 08:18] 3lvis opened #87 "Remove blank fields EVERYWHERE"

[2014-11-22 11:58] #58 closed, assigned to nobody

[2014-11-25 13:17] #87 closed, assigned to nobody

[2014-11-25 13:36] #72 closed, assigned to nobody

[2014-11-28 09:16] 3lvis opened #94 "Rename HYPDropdownFormFieldCell to HYPSelectFormFieldCell"
`HYPDropdownFormFieldCell`  => `HYPSelectFormFieldCell`

[2014-11-28 09:53] 3lvis opened #95 "Remove `withIndexPath` and indexPaths from HYPFormField"

[2014-11-28 14:23] 3lvis opened #96 "Add clear button to TimeViewController popover"

[2014-11-30 12:56] #94 closed, assigned to nobody

[2014-12-03 09:35] 3lvis opened #102 "Move invalidFields from HYPForm to HYPFormsManager"

[2014-12-03 09:46] 3lvis opened #103 "Use becomeFirstResponder in HYPTextField and HYPTextFormFieldCell"

[2014-12-04 14:11] 3lvis opened #105 "Provide proper isEqual support for HYPFormField"

[2014-12-05 11:28] zenangst opened #108 "Don't rely on JSON when doing tests"

[2014-12-08 12:08] #108 closed, assigned to nobody

[2014-12-10 22:16] #95 closed, assigned to nobody

[2014-12-10 22:17] #103 closed, assigned to nobody

[2014-12-10 22:17] #96 closed, assigned to nobody

[2014-12-10 22:21] #105 closed, assigned to nobody

[2014-12-10 22:21] #102 closed, assigned to nobody

[2014-12-10 22:22] #35 closed, assigned to nobody

[2014-12-10 22:25] #32 closed, assigned to nobody

[2014-12-12 10:44] 3lvis opened #124 "Section is not removing it's separator after processing targets"
- Have 3 sections in Form A.
- Remove the 2 last sections from Form A.
# Expected
- Form A has one section, that section doesn't have a separator at the end.
# Current
- Form A has one section, that section has a separator at the end.

![ios simulator screen shot dec 12 2014 11 29 44 am](https://cloud.githubusercontent.com/assets/1088217/5410314/766069dc-81f3-11e4-9654-5ad95669f83a.png)

[2014-12-18 16:04] NSElvis opened #130 "Enforce use of type whenever makes sense (on json fields)"
- [ ] Name
- [ ] Phone number
- [ ] Currency
- [ ] Email
- [ ] Password

[2014-12-18 16:06] NSElvis opened #131 "HYPSocialSecurityNumberInputValidator 11 digits default"

[2014-12-19 12:18] 3lvis opened #132 "Numbers 100 digits"

[2014-12-19 12:18] NSElvis opened #133 "Field of name type: 260 max length"

[2014-12-19 15:05] #132 closed, assigned to nobody

[2014-12-28 12:26] NSElvis opened #138 "Document rules"

[2015-01-12 14:35] zenangst opened #143 "Add support for longer labels"

[2015-01-13 14:15] NSElvis opened #149 "Test showing a field multiple times"
I've noticed that we are testing hiding a field multiple times, but not showing a field multiple times. Made an issue for that.

Ping #144

[2015-01-20 14:28] NSElvis opened #152 "Test disabled flag"

[2015-01-20 14:28] NSElvis opened #153 "Test conditions"

[2015-01-20 14:31] NSElvis opened #154 "Test targets"
- [ ] show
- [ ] hide
- [ ] update
- [ ] enable
- [ ] disable
- [ ] condition

[2015-01-20 14:33] NSElvis opened #155 "Test required flag"

[2015-01-20 14:33] NSElvis opened #156 "Test max length/min length"

[2015-01-20 14:33] NSElvis opened #157 "Test format"

[2015-01-20 14:34] NSElvis opened #158 "Test validations"
- [ ] required
- [ ] min_length
- [ ] max_length
- [ ] format
- [ ] max_value
- [ ] min_value

[2015-01-20 14:37] #157 closed

[2015-01-20 14:37] #156 closed

[2015-01-20 14:37] #155 closed

[2015-01-20 14:56] #153 closed

[2015-01-20 15:03] #133 closed

[2015-01-21 14:08] NSElvis opened #159 "Test default flag"
I think there's a bug here, it sets the title but not the `fieldValue`.

[2015-01-23 09:46] NSElvis commented on #149
Fixed

[2015-01-23 09:46] #149 closed

[2015-01-27 15:51] NSElvis opened #163 "`reloadWithDictionary` on dataSource doens't run targets"

[2015-01-27 15:52] NSElvis opened #164 "filteredTargets:filtered: doesn't seem to be working for update targets"

[2015-01-28 07:43] #164 closed

[2015-01-28 07:44] #163 closed

[2015-01-28 07:46] zenangst opened #167 "Improve collapsing forms animations"
When a form gets collapsed it's contents should flow bellow the header, right now it has goes beyond the header.

[2015-01-28 10:09] NSElvis commented on #167
Correct
=====

![correct](https://cloud.githubusercontent.com/assets/1088217/5935717/29cc62b4-a6de-11e4-9642-30f445f5c4df.gif)

Wrong
====

![wrong](https://cloud.githubusercontent.com/assets/1088217/5935719/2eccd406-a6de-11e4-80d5-8c9950e8fcd3.gif)

[2015-01-28 13:07] NSElvis commented on #85
`HYPFormsManager`

`- (NSArray *)updateTargets:(NSArray *)targets withEnabled:(BOOL)enabled`

        `if ([self.hiddenFieldsAndFieldIDsDictionary objectForKey:target.targetID]) continue;`

[2015-01-28 13:37] zenangst opened #170 "Formulas cannot include/depend on calculated values"
It's not possible to use calculated variables in formulas because there is no queueing or dependency management for that kind of behavior.

This would be kinda ace to have.

[2015-01-28 15:43] #167 closed

[2015-01-29 11:47] NSElvis opened #175 "Show targets don't animate"
Related to pull request #174

[2015-01-29 13:45] #175 closed

[2015-01-29 13:45] zenangst opened #178 "Find a better way to reload the new inserted fields"
Right now we are using the completion on batch update to actually update the newly inserted items.
This could be done better!

https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.m#L224

[2015-01-29 18:35] zenangst opened #179 "Add focus target"
It would be nifty to be able to add a target that focus on a field

[2015-01-29 18:45] zenangst opened #180 "Add clear target"

[2015-01-29 19:38] NSElvis commented on #179
Uuuuuh, nice one!

[2015-01-29 19:38] NSElvis commented on #180
:+1:

[2015-01-30 12:12] zenangst opened #183 "Remove start with disabled fields"
Use targets or the field property `disabled` to disable fields on load instead.

[2015-02-02 07:55] zenangst opened #184 "Add require target"
It would be nice to have the ability to change the property on the field, in this `required`, setting it to `true` or `false`.

[2015-02-02 08:03] zenangst opened #185 "Add support for sending an object as the target value"
It would be nice to be able to send along an entire object of key values for manipulating the target.
This would open up for setting the minimum and maximum dates on fields. This could also help solve the formula and validation manipulation that we aim to support.

[2015-02-02 08:09] NSElvis commented on #185
I'm afraid I don't understand, what do you mean by "object of key values"?

Could you provide a sample of the API you would like to have?

[2015-02-02 08:19] zenangst commented on #185
[code]

[2015-02-02 08:20] zenangst commented on #185
Also, it would be neat if it supported the `$` delimiter to fetch values from foreign fields

[2015-02-02 08:21] NSElvis commented on #185
Looks useful :)

[2015-02-02 08:24] zenangst commented on #185
But calling it target_value no longer makes sense.

[2015-02-02 08:24] NSElvis commented on #185
Definetly

[2015-02-02 08:25] NSElvis commented on #185
I guess you could do

[code]

[2015-02-02 08:26] fespinoza commented on #185
in that example: if condition is fulfilled then the target_id field will set: a value, a minimun date and make the field required, right?

so the semantic of `target_value` would be like **All the actions that happen when the condition is fulfilled**

[2015-02-02 08:27] zenangst commented on #185
@fespinoza something like that yes.

[2015-02-02 08:28] fespinoza commented on #185
I prefer the syntax that @zenangst posted, about the field name, can be changed for something like `target_transformations` or something

[2015-02-02 08:28] NSElvis commented on #185
A `target` is an element that triggers an action over a `field` or a `section`.

In that idea I think we could bundle all elements into a `target` and make it inherit from a `field`, so it has all the elements of a `field` but with the additional powers.

[2015-02-02 08:28] zenangst commented on #185
@NSElvis HYPFormTarget already has a property called `value`.

[2015-02-02 08:29] NSElvis commented on #185
@zenangst: naming would just be a detail I guess, everything else should work.

[2015-02-02 11:53] fespinoza opened #187 "Make phone_number validation regexp more strict"
right now is `"[0-9]{8,14}"` but this match something like `"91900143asd"`

so I think it must be changed to `"^[0-9]{8,14}$"` that is more strict on which thing needs to be matched

[2015-02-02 11:54] fespinoza opened #188 "Make social_security_number disabled true by default"
because you are never suppose to edit that field

[2015-02-02 13:49] NSElvis commented on #187
@fespinoza nice one!

[2015-02-02 13:55] zenangst commented on #188
Why is this on HYPForms? :)

[2015-02-02 13:56] timkurvers commented on #187
Question is whether that should be implied by the client instead. When would you ever not attempt to validate the entire field?

[2015-02-02 13:57] fespinoza commented on #188
yeah, that's true

[2015-02-02 13:57] #188 closed

[2015-02-02 13:58] fespinoza commented on #187
I was drunk

[2015-02-02 13:58] #187 closed

[2015-02-02 13:59] timkurvers commented on #187
It's a great catch though, but I think we might need `^` and `$` everywuuurr. :+1:

[2015-02-02 14:04] NSElvis commented on #187
@timkurvers: The idea is that if the field is type `phone_number` we will make this validation by default so you don't have to add it to the JSON, but we haven't work on that yet (would also work for emails and others).

Issue: https://github.com/hyperoslo/HYPForms/issues/130

[2015-02-03 08:51] fespinoza commented on #187
@NSElvis that wouldn't work on HTML then

[2015-02-03 20:27] zenangst commented on #180
Made a pull request for this https://github.com/hyperoslo/HYPForms/pull/191

[2015-02-15 00:03] NSElvis opened #194 "Explore Mailgun for email validation"
http://blog.mailgun.com/free-email-validation-api-for-web-forms/

[2015-02-18 16:49] andrewgubanov opened #198 "Custom styling for HYPForms"
Please consider implementing possibility to customize style, colors, etc in the HYPForms, because hadrcoded style restricts the usage of this nice library.

[2015-02-18 17:45] zenangst commented on #198
Consider it on our todo list :-)

[2015-02-18 18:31] andrewgubanov commented on #198
:+1:

[2015-02-19 08:17] NSElvis commented on #198
@andrewgubanov :heart:

[2015-02-19 08:24] NSElvis commented on #198
We have

[code]

It's a configuration block that gets called when the cells get called for usage (reusage), if it's not implemented it only does [this].(https://github.com/hyperoslo/HYPForms/blob/master/Source/HYPFormsCollectionViewDataSource.m#L166)

The idea is that you in this configuration block can change the color of the cell background, cell title label and so on.

You can do the same thing

[2015-02-19 09:17] andrewgubanov commented on #198
@NSElvis I was more thinking about HYPFormBackgroundView which is not possible to style for now.
But anyways, ThemeProvider/ThemeStyler would be the best solution as it could style propper views/cells only when those are instantiated.

[2015-02-19 09:21] NSElvis commented on #198
@andrewgubanov maybe considering `UIAppearance` is a good idea too

[2015-02-19 09:55] andrewgubanov commented on #198
@NSElvis depends on how much you want to allow user to customize your interface. UIAppearance is good for "coloring" already styled UI. But if you want your users to  be able to actually style the UI, then you need smth like ThemeProvier, etc. It is like if I want to have my backgroundview in a shape of a peer for example. In this case UIAppearance won't help much :)

[2015-02-20 13:36] 3lvis opened #202 "Check validation types based on `type` instead of `id`, provide default validations"

[2015-02-21 22:48] NSElvis opened #204 "Demo: login"
The idea is to create a demo of HYPForms featuring a login screen.

- Email
- Password

Bonus: login button that gets enabled once both fields pass validation

[2015-02-23 07:18] NSElvis opened #206 "Renaming and API"
- [ ] FORMData
- [ ] Forms vs Form
- [ ] FORMCollectionDataSource as the main point for everything

[2015-02-23 13:28] NSElvis opened #207 "FORMData"

[2015-02-23 13:28] NSElvis opened #208 "Forms vs Form"

[2015-02-23 13:28] NSElvis opened #209 "FORMCollectionDataSource as the main point for everything"

[2015-02-23 13:29] NSElvis commented on #206
Made separate issues for this

[2015-02-23 13:29] #206 closed

[2015-02-23 13:41] NSElvis commented on #208
We're keeping it as `Form`

[2015-02-23 13:41] #208 closed

[2015-02-23 13:56] NSElvis commented on #209
@zenangst Should we rename `FORMCollectionDataSource` to `FORMController`? Or something like that, since we want it to be the main point to all the Form things?

[2015-02-23 13:58] NSElvis commented on #209
This is probably the way you use this class, that's why DataSource made sense

https://github.com/hyperoslo/Form/blob/master/Demos/Basic-ObjC/Basic-ObjC/Controllers/HYPSampleCollectionViewController.m#L42

[2015-02-23 13:58] zenangst commented on #209
Yeah I guess it share more of the characteristics of a controller than a data source as it does more than a data source. Was that what you were thinking? Also it shorter, less is more (probably not what she said) :-)

[2015-02-23 14:01] NSElvis commented on #209
@zenangst

This is probably the way you use this class, that's why DataSource made sense, maybe it should be called only `FORMDataSource`

https://github.com/hyperoslo/Form/blob/master/Demos/Basic-ObjC/Basic-ObjC/Controllers/HYPSampleCollectionViewController.m#L42

[2015-02-23 14:11] zenangst commented on #209
There is no real added benefit of calling it Collection? or is that hinting to that the Form is a collection view?

[2015-02-23 14:29] NSElvis commented on #209
@zenangst It can only be used with a collection, so no need to be redundant with that.

[2015-02-23 14:31] zenangst commented on #209
Let's go for `FORMDataSource`, agree?

[2015-02-23 14:32] NSElvis commented on #209
@zenangst agreed

[2015-02-23 18:32] zenangst commented on #208
:100:

[2015-02-24 06:32] NSElvis commented on #209
Fixed

[2015-02-24 06:32] #209 closed

[2015-02-24 07:06] NSElvis commented on #198
I tried UIAppearance with `FORMTextField`, works pretty good.

[code]

There are two caveats, the first one is that we need to avoid setting the colors [the way we've been doing it](https://github.com/hyperoslo/Form/blob/b1a542d042a45a9a3056fb8969b5704e51fda1f4/Source/Cells/Views/FORMTextField.m#L98), otherwise appearance doesn't work.

The second one is that I haven't figured out how to style a C

[2015-02-24 09:40] andrewgubanov commented on #198
@NSElvis

This is expected behaviour of the way UIAppearane works. You can read more info [here] (http://useyourloaf.com/blog/2012/08/24/using-appearance-proxy-to-style-apps.html).

There is also no way to style CALayer as it does not conform to UIAppearance. For this reason I have implemented my own DMAppearance you can check out. Then in your custom CALayer you conform to UIAppearance protocol a

[2015-02-24 09:42] NSElvis commented on #198
@andrewgubanov I was looking into this approach and I like it a lot! :)

[2015-02-24 14:13] NSElvis commented on #204
![group](https://cloud.githubusercontent.com/assets/1088217/6350928/bb8e59c8-bc37-11e4-88d0-c7039ecf155f.png)

[2015-02-26 10:06] #207 closed

[2015-02-27 09:42] 3lvis opened #215 "Add method to find a section including hidden sections"
We have:

[code]

But we don't have:

[code]

[2015-02-27 12:07] NSElvis commented on #204
Task in progress https://github.com/hyperoslo/Form/pull/212

[2015-03-02 11:20] 3lvis opened #219 "Section where fields don't add up to 100 have weird behaviours"
Example:

First name field => 50 : 1
Last name field => 25 : 1
Image field => 100 : 1.7

[2015-03-02 11:29] zenangst opened #220 "Add a title property on sections"

[2015-03-02 11:46] NSElvis commented on #220
Fixed

[2015-03-02 11:46] #220 closed

[2015-03-02 11:47] NSElvis commented on #138
FIXED!

[2015-03-02 11:47] #138 closed

[2015-03-02 11:49] #159 closed

[2015-03-02 11:49] #158 closed

[2015-03-02 11:49] #154 closed

[2015-03-02 11:49] #152 closed

[2015-03-02 11:49] NSElvis commented on #183
Fixed!

https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L23

[2015-03-02 11:49] #183 closed

[2015-03-02 14:56] NSElvis commented on #204
This was fixed by @RamonGilabert  :)

[2015-03-02 14:56] #204 closed

[2015-03-02 14:56] #194 closed

[2015-03-02 14:56] NSElvis commented on #194
This requires networking, not really what we want

[2015-03-02 14:59] NSElvis commented on #178
Link is broken and it points to an invalid place

https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.m#L224

[2015-03-02 15:00] NSElvis commented on #131
https://github.com/hyperoslo/Form/issues/202

[2015-03-02 15:00] #131 closed

[2015-03-02 15:41] NSElvis opened #221 "Only use `copy` in properties when a mutable counterpart is available"
There are some `NSDate` properties that have the `copy` attribute, those are not required.

Copy should only be applied when there's a mutable counterpart for example `NSString`

https://github.com/hyperoslo/Form/blob/b1a542d042a45a9a3056fb8969b5704e51fda1f4/Source/Cells/Popover/FORMDateFieldCell.h

[2015-03-04 13:44] NSElvis commented on #130
Would be great to handle validations as objects instead of NSDictionary

[2015-03-05 13:32] NSElvis opened #230 "Remove `strong` from properties since it's the new default"
All the

[code]

Would be

[code]

[2015-03-05 13:37] zenangst commented on #230
I just found out that `strong` as been the default since Xcode 4.3, so it's not really new.

[2015-03-05 13:38] markvaldy commented on #230
Agree, looks more clear without ``strong``

[2015-03-05 13:43] markvaldy commented on #230
Could we add it to iOS-playbook as well if everyone agrees?

[2015-03-05 13:46] NSElvis commented on #230
@markvaldy Added it as an issue

https://github.com/hyperoslo/iOS-playbook/issues/42

[2015-03-06 11:39] #198 closed

[2015-03-09 13:44] NSElvis opened #234 "Missing borders for disabled fields"

[2015-03-09 13:45] NSElvis commented on #234
Fixed in https://github.com/hyperoslo/Form/pull/233

[2015-03-09 13:45] #234 closed

[2015-03-09 14:09] #221 closed

[2015-03-09 14:09] #230 closed

[2015-03-10 15:04] callumboddy commented on #2
created a PR for this one:
https://github.com/hyperoslo/Form/pull/237

[2015-03-10 15:31] #180 closed

[2015-03-10 15:32] zenangst commented on #178
Updated the description.

[2015-03-10 15:34] zenangst commented on #130
Solved in https://github.com/hyperoslo/Form/pull/229

[2015-03-10 15:34] #130 closed

[2015-03-10 15:34] zenangst commented on #219
@NSElvis mind adding a screenshot?

[2015-03-10 15:35] zenangst commented on #2
Fixed by https://github.com/hyperoslo/Form/pull/237

[2015-03-10 15:35] #2 closed

[2015-03-10 21:47] NSElvis opened #238 "Explore JSON Schema support"
http://json-schema.org/

http://spacetelescope.github.io/understanding-json-schema/about.html#about

[2015-03-10 22:16] NSElvis opened #239 "Evaluate moving away from DDMathParser"
It's an awesome library, too awesome probably since we only use a few of the features.

The other downside is that it's not frequently maintained and the feedback loop is quite slow.

[2015-03-12 10:34] charbelhass opened #242 "Add Multiple Selection, Or Check Boxes"
Please add a control like check boxes, or a dropdown menu with multiple selection.

[2015-03-12 10:40] NSElvis commented on #242
@charbelhass thanks! We'll look into it.

[2015-03-12 10:53] callumboddy commented on #242
I have implemented this before, I might take a look if/when I get some time guys :+1:

[2015-03-12 10:54] charbelhass commented on #242
thank you :D

[2015-03-12 11:20] zenangst commented on #242
:cake:

[2015-03-13 08:33] NSElvis opened #245 "Move keyboard observers to a different module"
Keyboard observers added in https://github.com/hyperoslo/Form/pull/244 should be moved into a category on UIViewController. (HYPKeyboardObserver?)

It could look something like this.

[code]

The idea is that when the keyboard gets shown, the toolbar frame will be updated to follow the keyboard.

[2015-03-17 06:47] NSElvis commented on #219
@zenangst What should be the behaviour here? Crash and burn?

[2015-03-17 06:52] zenangst commented on #219
@NSElvis if the JSON is served up from a backend it could be risky to force a crash, what do you think?

[2015-03-17 06:55] NSElvis commented on #219
A crash when parsing the field that is adding up more than 100 and saying "Why?" could be a good solution.

Backends should calculate correct widths, we can't really handle all the scenarios.

What do you think @fespinoza?

[2015-03-17 07:04] 3lvis opened #254 "iOS 8 warnings for some dependencies"
![screen shot 2015-03-17 at 8 03 52 am](https://cloud.githubusercontent.com/assets/1088217/6682666/38122566-cc7c-11e4-9eaf-dc30212ee142.png)

[2015-03-17 07:18] #245 closed

[2015-03-17 07:21] kostiakoval commented on #254
@NSElvis use my repo. I've fixed it
pod 'iso-8601-date-formatter', :git=> https://github.com/kostiakoval/iso-8601-date-formatter.git

[2015-03-17 08:16] NSElvis commented on #254
Thanks!

[2015-03-17 08:22] 3lvis opened #255 "FORMViewController"
Initializing a new UICollectionViewController that uses Form involves one too many steps.

The UICollectionViewLayout part, it doesn't feel natural, it feels weird.

https://github.com/hyperoslo/form-bug-219/blob/master/Pod/ViewController.m#L13-L25

I was thinking it could be great if we had a FORMViewController that you could inherit from and then you'll have a predefined initializer.

So you'll

[2015-03-17 08:23] NSElvis commented on #255
It can be a good example on how to create a UICollectionViewController that uses Form.

[2015-03-17 12:00] zenangst opened #257 "Add selected cell styling (text and background color)"
Add selected cell styling (text and background color) for popover cells

[2015-03-17 12:10] #238 closed

[2015-03-17 12:11] NSElvis commented on #238
I would like to keep our issues laser focused until we solve them all.

[2015-03-17 12:11] NSElvis commented on #239
I would like to keep our issues laser focused until we solve them all.

[2015-03-17 12:11] #239 closed

[2015-03-17 14:19] zenangst opened #258 "Store removed dynamic values in a property on FORMDataSource"
When you press `Remove` in a dynamic section, all the values that share the same prefix as that section should be stored in a property on `FORMDataSource`. These keys should also be remove from `valuesDictionary` inside `FORMDataSource`.

**Steps to reproduce**

1. Press delete on dynamic company 0 (name: Facebook)

**Current results**

1. `FORMData.removedDynamicValues` doesn't contain `company[0

[2015-03-17 18:00] NSElvis commented on #258
- Removed `company[3]`
- All items prefixed with `company[3]` get added as `company[0]` if `removedDynamicValues` is empty.

`removedDynamicValues` is a dictionary

[2015-03-17 19:29] zenangst commented on #258
Started a pull request for this - https://github.com/hyperoslo/Form/pull/260

[2015-03-17 19:31] zenangst commented on #258
Should it sanitize the indexes in `valuesDictionary` after removing them?
So that removing `company[3]` would make `company[4]` into `company[3]`.

[2015-03-17 20:30] NSElvis commented on #258
I think we talked about this but yeah, that would be awesome!

[2015-03-17 20:50] zenangst commented on #258
Working on it now ;)

[2015-03-19 07:08] #258 closed

[2015-03-23 07:14] zenangst commented on #257
Fixed https://github.com/hyperoslo/Form/pull/263

[2015-03-23 07:14] #257 closed

[2015-03-24 07:25] 3lvis opened #271 "README 2.0"
I've been thinking on improving the README to showcase our biggest features and have a banner for each:

- [ ] Targets
- [ ] Formulas
- [ ] Templates
- [ ] Customization
- [ ] Formatters
- [ ] Validators

[2015-03-24 07:25] NSElvis commented on #271
@zenangst is there anything else to add?

[2015-03-24 07:26] NSElvis commented on #271
I'm still unsure if the naming is clear enough, would love to get your feedback @hyperoslo/ios

[2015-03-24 07:30] zenangst commented on #271
Customization might be nice to mention so that people don't perceive it to be locked to a specific design.

[2015-03-24 08:07] NSElvis commented on #271
@zenangst agreed! Updated

[2015-03-24 08:17] zenangst commented on #271
Is Formatters worth mentioning ?

[2015-03-24 08:38] NSElvis commented on #271
Formatters and validators!

[2015-03-24 10:20] zenangst commented on #271
So many things...

[2015-03-25 10:17] 3lvis opened #273 "Make FORMTarget have all the superpowers of FORMField"
The idea is that a FORMTarget could overwrite all the elements from a FORMField.

For example you could send a target to update the maximum date or the value, or the position.

*anything*

[2015-03-25 13:49] yasirmturk opened #276 "address field example"
how to create a multi-input field like address field in iOS Contacts App

[2015-03-25 13:53] NSElvis commented on #276
Hi @yasirmturk, we've been planning on add more domain specific examples, the one you pointed our is on top of our list.

I think you could get what you need from here: https://github.com/hyperoslo/Form/tree/master/Demos/Basic-ObjC

It's a bit more general but it could help you to get started.

Let me know if something is not clear :)

[2015-03-26 08:56] danr777 opened #280 "Any update on this? This would be AWESOME :)"

[2015-03-26 08:59] NSElvis commented on #280
Hi @danr777, what do you mean? Update on what?

:)

[2015-03-26 12:22] NSElvis commented on #280
I'm closing this until we get more info. :grin:

[2015-03-26 12:22] #280 closed

[2015-03-26 12:23] NSElvis commented on #276
@yasirmturk: Let me know if we can help with something else.

I'll be closing this issue for now.

[2015-03-26 12:23] #276 closed

[2015-03-26 12:23] 3lvis opened #281 "Contacts.app Example"
Provide an example that resembles the iOS Contacts app

[2015-03-26 14:35] matteocrippa opened #283 "Force UICollection to refresh on validation"
I noticed playing with demo app that sometimes the code fails on showing invalid fields, I simply managed to force in the main queue to update the collection with something like

[code]

Prob it will needed even when the user scroll in order to check for fields that during validation are out of viewport.

[2015-03-26 14:47] NSElvis commented on #283
We'll take a look! Thanks @matteocrippa :dancers:

[2015-03-27 09:58] NSElvis opened #285 "Tooltip not showing up when initializating FORMDataSource as enabled"

[2015-03-27 11:31] RamonGilabert commented on #285
Damn that's right, initially the property should be set and it's not right now!

[2015-03-27 11:32] RamonGilabert commented on #285
So sending the same notification weather it's enabled or disabled should make it work already. Right now we're only sending the notification when you enable and disable.

[2015-03-30 10:07] Jayrok94 opened #292 "IPhone timeframe?"
Is there a timeframe of when this might be released for iPhone?

[2015-03-30 10:09] zenangst commented on #292
@Jayrok94  I believe there is nothing stopping you from using it in an iPhone project at the time being. We just don't have a demo project showing it of right now :smile:

[2015-03-30 10:09] zenangst opened #294 "Add iPhone demo project"

[2015-03-30 10:13] Jayrok94 commented on #292
@Zenangst ok great Thanks!

[2015-03-30 10:13] #292 closed

[2015-03-30 12:36] #285 closed

[2015-03-31 10:33] danr777 commented on #242
any chance someone can do this? :)

[2015-03-31 10:50] NSElvis commented on #242
@danr777 Hi danr777! Mind giving us a use case to start brainstorming on the best way to do this?

[2015-03-31 10:54] danr777 commented on #242
Hi there, Could be anything really?Could be as simple as What are your favorite categories of foods?   storing the answer value as a delimited string wouldn't be wrong would it? and splitting it upon value retrieval, is there a structural issue with storing the value that would be different than most of the other answer types?

[2015-03-31 10:55] NSElvis commented on #242
@danr777 That's a great idea! I'll look into it

[2015-03-31 11:05] callumboddy commented on #242
json representation could be something like this:

{
            "id":"foods",
            "title":"Favourite Foods",
            "type":"radio",
            "options": [
                 {
                 "id" : "uid"
                  "value" : "ice-cream"
                 },
                 etc..
           ]
}

populate the radioField subclass from the array, which dynamically creates the bo

[2015-03-31 12:50] zenangst commented on #219
Oh sorry.

[2015-03-31 16:00] NSElvis commented on #242
Trying something guys :)

https://github.com/hyperoslo/Form/pull/302

[2015-04-01 11:32] 3lvis opened #305 "Add tests for layout calculation"
Include collapsed sections, hidden fields, etc

[2015-04-06 12:39] kostiakoval opened #311 "Form crashes on iPhone."
The popup is not available on iPhone.
-[UIPopoverController initWithContentViewController:] called when not running under UIUserInterfaceIdiomPad.'

[2015-04-06 12:47] 3lvis commented on #311
Thanks <3

[2015-04-08 09:13] 3lvis opened #313 "Add image and arrow to FORMHeader"
Would be nice to have support for icons and arrows like this ones.

![dwqdqw](https://cloud.githubusercontent.com/assets/1088217/7042178/401c8c7c-dde0-11e4-97ef-c9b3ddfcc728.png)

[2015-04-08 09:18] zenangst commented on #313
Those are some nice titles you got there;

![tumblr_n50qd2rp8x1qdlh1io1_400](https://cloud.githubusercontent.com/assets/57446/7042267/e7773c06-dde0-11e4-8c22-44eeb4da25ed.gif)

[2015-04-08 09:20] 3lvis commented on #313
Hahaha

[2015-04-08 12:40] charbelhass commented on #242
Any news about this one.
Thanks in advance

[2015-04-09 11:58] charbelhass opened #315 "Regular Expression Issue"
Hello everyone,
this is my  JSON used to create the form,
but i am getting the error, Not a valid JSON Format.
I know the issue is from the regular expression in validations , format, I tried to put a \ before every\, nothing happened.
i don't know how to fix it. Please Help

[code]

[2015-04-09 12:00] 3lvis commented on #315
This is the invalid part

[code]

[2015-04-09 12:03] zenangst commented on #315
@charbelhass try this JSON

[code]

[2015-04-09 12:18] charbelhass commented on #315
@zenangst it worked but i can't see the difference between yours and mine.
i tried yours on http://jsonformatter.curiousconcept.com/ , it is valid
if you try to add to min the \ before every \ it will be invalid

note that i am creating the JSON By code as string
this is the part where i am adding the regex
queryJSON = [queryJSON stringByAppendingString:@"\"validations\":{\r \"required\":false,\r

[2015-04-09 12:20] 3lvis commented on #315
@charbelhass

So `(?<![-.])\b[0-9]+\b(?!\.[0-9])`
becomes `(?<![-.])\\b[0-9]+\\b(?!\\.[0-9])`

[2015-04-09 12:20] charbelhass commented on #315
@zenangst thanks bro it worked, for every \ it must be \\\\
thanks :smile:

[2015-04-09 12:22] #315 closed

[2015-04-09 12:23] zenangst commented on #315
@charbelhass you´re welcome :sunglasses:

[2015-04-10 08:14] 3lvis opened #316 "Xcode 6.3 warning on FORMDataFieldCell"
![screen shot 2015-04-10 at 10 14 08 am](https://cloud.githubusercontent.com/assets/1088217/7084149/5a3e1cde-df6a-11e4-8cd7-dce3ca5ef099.png)

[2015-04-10 10:46] matteocrippa opened #317 "Json Key to default hide a field"
Is there already any json key in order to set a field hidden by default?

[2015-04-10 11:18] 3lvis commented on #317
Hi @matteocrippa, at the moment you can send a [hideFieldTarget](https://github.com/hyperoslo/Form/blob/f6b812617f6c1df5abf6223210d01a6299b84835/Source/Models/FORMTarget.h#L43) to hide the field.

We don't have support for adding a flag in the JSON that says `hidden: true;` but we should totally have that!

I'll make an issue for it.

[2015-04-10 11:18] #317 closed

[2015-04-10 11:19] 3lvis opened #318 "Mark fields as initially hidden in the JSON"
Would be great if you could mark a field as hidden by adding a "hidden" flag to the field's json.

[code]

References #317

[2015-04-10 12:43] matteocrippa commented on #318
got it, plan to push tonight the solution

[2015-04-10 22:41] 3lvis commented on #318
Released on 3.0.2 => https://github.com/hyperoslo/Form/releases/tag/3.2.0

Thanks for your contribution @matteocrippa, you are awesome!

[2015-04-10 22:41] #318 closed

[2015-04-13 10:33] 3lvis opened #323 "FORMPostalCodeManager, how to use? Or remove from Form?"
Right now we provide a way to validate if a postal number is valid by looking into a JSON file that contains them.

[code]

We should either document this properly or add support for fields that have their validations taken from somewhere else.

[2015-04-14 07:01] charbelhass opened #324 "Minimum & Maximum Value"
Hello,
how can i set a minimum or a maximum value for a text of input-type number.
is it implemented?

thanks in advance,
regards

[2015-04-14 07:09] 3lvis commented on #324
Hi,

You'll have to add it to your `validations` dictionary in the field JSON.

In our basic demo we have a `first_name` field that supports minimum length 2. So when you call "validate" if this field has less than 2 characters it will show up red.

https://github.com/hyperoslo/Form/blob/d426e7b090fee7a630d1208b87c63a85b6aaf5df/Demos/Basic-ObjC/Basic-ObjC/Assets/forms.json#L19-L22

[2015-04-14 07:09] #324 closed

[2015-04-14 07:13] charbelhass commented on #324
@3lvis thanks, the value i want to enter is a number. I can't see how can i solve it with length
i have 3 options:
-the number must be between 2 other numbers like 10 < inputvalue < 20
-the number is greater than other one like inputvalue > 30
-the number is less than other one like inputvalue < 30

[2015-04-14 07:16] 3lvis commented on #324
You can do `max_value` and `min_value` too.

https://github.com/hyperoslo/Form/blob/master/Source/Models/FORMFieldValidation.m#L24

:)

[2015-04-14 07:17] charbelhass commented on #324
thanks :D

[2015-04-14 09:37] charbelhass commented on #324
@3lvis sorry for bothering you, i have been trying for a while to do the min and max value for text of input type number nothing is happening, when i try to enter a number less than the min value and press validate, the field show that it is valid
this is my code:
if (![question[@"MinimumValue"] isKindOfClass:[NSNull class]] && ![question[@"MaximumValue"] isKindOfClass:[NSNull class]])

[2015-04-14 12:45] charbelhass opened #326 "Minimum & Maximum Value Issue"
Hello,
I was trying to put a maximum and minimum value for a field of type text and input type number,

i added "min_value":10 and "max_value":30 to validations.
but nothing happens when i put something less than 10 or greater than 30, the validation shows that it is valid.

I think that minimumValue and maximumValue are not implemented
Check FORMValidator.m

[code]

[2015-04-14 18:54] 3lvis commented on #326
Hi @charbelhass!

I'll take a look and improve the basic example so it includes a how-to of this.

[2015-04-14 20:47] 3lvis commented on #326
https://github.com/hyperoslo/Form/pull/327 :)

[2015-04-14 21:09] charbelhass commented on #326
Thank you :D
I will try it tomorrow
Regards

[2015-04-14 21:27] #326 closed

[2015-04-14 21:27] zenangst commented on #326
Should be fixed on `master` now, great work @3lvis

[2015-04-16 09:42] charbelhass opened #329 "Validation Issue"
https://github.com/hyperoslo/Form/issues/327

Can someone solve it?

Regards!

[2015-04-16 10:05] 3lvis opened #331 "Add test for FORMBaseField cell and children `validation` method"
We had an issue with FORMPopoverCell been shown as invalid when it should be show as valid. This was mainly to a bug in the `validate` method which hasn't been tested.

https://github.com/hyperoslo/Form/blob/master/Source/Cells/Base/FORMBaseFieldCell.h#L31

Related to  #330

[2015-04-16 10:07] #329 closed

[2015-04-16 10:08] 3lvis commented on #329
@charbelhass Should be good on master now! Will do more testing and release a new version tomorrow.

[2015-04-16 11:42] Mutix opened #332 "Feature: Time picker fields"
What do you guys think would be the best approach for adding the ability to select time?

I was thinking it could be useful to have three different field types: 'date', 'date_time', and 'time', where:

- 'date' is the existing date type that shows a datepicker popover with only the day, month and year components
- 'date_time' would show a datepicker popover with all components (day, month, year, h

[2015-04-16 12:59] charbelhass commented on #329
@3lvis thank you, are we going to have a version that fixes multiselection, minimum & maximum value, validation issue tomorrow?
thanks in advance :D

[2015-04-16 13:00] zenangst commented on #329
@charbelhass https://github.com/hyperoslo/Form/releases/tag/3.2.2

[2015-04-16 13:02] charbelhass commented on #329
@zenangst i think it doesn't have multiselection

[2015-04-16 13:23] 3lvis commented on #332
Hi @Mutix!

Thanks a lot for such detailed issue. Using an additional field type sounds very interesting, at the moment we only do dates in our apps and this sounds like a very useful feature.

For the pod user I guess the old the thing it would change would be the field type, everything else would keep been transparent.

I say :+1: great job!

[2015-04-16 13:24] Mutix commented on #332
Thanks 3lvis,

I've just done some work on this in my fork, and am nearly ready to issue a pull request, will comment on here with the link to the PR when it's ready :)

[2015-04-16 13:24] zenangst commented on #332
:+1:

[2015-04-16 13:25] charbelhass commented on #329
@zenangst also, i think that there is a bug in validation. if i put in validations required:false all fields are not valid after validation, id dont put required:false for fields not required, it works but If I have a text field of type number having validation format, min or max or both it doesn't work.

[code]

![screen shot 2015-04-16 at 4 16 36 pm](https://cloud.githubusercontent.com/assets/90

[2015-04-16 13:29] 3lvis commented on #329
@charbelhass `"disabled":"false"` you're making disabled a string, it should be `"disabled":false`

[2015-04-16 13:31] Mutix commented on #332
https://github.com/hyperoslo/Form/pull/333

:+1:

[2015-04-16 13:36] zenangst commented on #329
Same goes for `required`.

```"required":true```

[2015-04-16 13:40] charbelhass commented on #329
@zenangst i am not giving 'required' a string, only 'disabled'
let me check

[2015-04-16 13:45] charbelhass commented on #329
@zenangst same is happening.

[code]
![screen shot 2015-04-16 at 4 44 04 pm](https://cloud.githubusercontent.com/assets/9074156/7182108/fd650278-e457-11e4-825f-9ad806a37cb0.jpg)

[2015-04-16 13:50] 3lvis commented on #329
I'll copy your JSON to the Basic demo to check :)

[2015-04-16 13:51] charbelhass commented on #329
@3lvis  ok thanks

[2015-04-16 14:07] charbelhass commented on #329
@3lvis i was checking my JSON in the Demo, I noticed that the 4 icons you use in calendar, photo, clear text... are missing, so I added them manually to my project

Well I dunno what to say guys, Thank you for everything you’ve done

[2015-04-16 14:11] 3lvis commented on #329
@charbelhass Thanks for your input and time Charbel, you are helping us a lot into taking Form from cool to **awesome**.

:grin:

I tried your JSON now, I've been able to reproduce your errors. I'll push a fix today. \o/

[2015-04-16 14:13] charbelhass commented on #329
@3lvis @zenangst thank you :D

[2015-04-16 14:30] Mutix opened #334 "Include the field icons in the pod resource bundle"
Currently, the icons for the down arrow, the calendar... and soon the clock ;) are included as resources of the demo app, rather than being bundled with the pod.

When using the pod 'out of the box' the images are missing and need to be manually added to the client project.

Would be nice for the images to be directly bundled with the pod :+1:

[2015-04-16 16:33] zenangst commented on #329
![giphy-22](https://cloud.githubusercontent.com/assets/57446/7186028/1931897c-e467-11e4-888b-23cef5037d80.gif)

[2015-04-16 17:36] 3lvis commented on #332
Fixed on #333, will be available on the next release

[2015-04-16 17:36] #332 closed

[2015-04-16 17:38] 3lvis commented on #332
Great job @Mutix!
![tumblr_inline_mzmuzndcac1qi4qb3](https://cloud.githubusercontent.com/assets/1088217/7187343/21c04a98-e470-11e4-817a-af133f90cd01.gif)

[2015-04-16 17:44] 3lvis opened #335 "Validations not working properly"
Required field validation not working properly

[code]

[2015-04-16 19:47] Mutix commented on #335
:+1:

[2015-04-16 21:09] 3lvis opened #338 "Feature: custom validators"
I would like to have support for custom validators. For example I'm making a shipping form, here I need someone to add his `card number` and I would like to validate this and Form doesn't provide a way.

Here first I would add the `field`:

[code]

Then I would add a class named `FORMCardNumberValidator` that inherits from `FORMValidator`.

Here you would overwrite the following method.

[code]

N

[2015-04-16 21:11] #335 closed

[2015-04-16 21:16] Mutix commented on #334
See PR #339  :)

[2015-04-16 21:26] #334 closed

[2015-04-16 22:13] 3lvis commented on #329
@charbelhass Sorry for the inconvenience :disappointed:. It's been fixed on master now and would be party of Form 3.3.0

[2015-04-16 22:16] charbelhass commented on #329
Thank you guys.
I'll try it tomorrow
Nighty

[2015-04-17 07:22] 3lvis opened #342 "Non-required field marked as invalid when removing invalid value"
— @charbelhass

[code]

![hmgij5vghm](https://cloud.githubusercontent.com/assets/9074156/7197413/806e965c-e4e9-11e4-896f-aad9d0798111.gif)

[2015-04-17 07:24] 3lvis commented on #342
— @charbelhass

[2015-04-17 08:50] Mutix opened #345 "Add support for secure entry text fields (eg. passwords)"
Would be awesome to have a new 'secure' field type which would set  `secureTextEntry` to true on the UITextField.

The login demo app can then use this new type for the password field.

Will start a branch in my fork :)

[2015-04-17 08:53] 3lvis commented on #345
Hi @Mutix!

We were considering this! I think a field type `password` would do.

[2015-04-17 08:53] Mutix commented on #345
Perfect, have you already started this or shall I?

[2015-04-17 08:54] zenangst commented on #345
@Mutix go ahead :)

[2015-04-17 08:54] Mutix commented on #345
:+1:

[2015-04-17 09:04] Mutix commented on #345
@3lvis @zenangst Sorry I just realised this is already supported via `"input_type":"password"`..

[2015-04-17 09:04] 3lvis commented on #345
:O

[2015-04-17 09:13] 3lvis commented on #345
@Mutix should we close this issue then?

[2015-04-17 09:20] Mutix commented on #345
@3lvis I'm just updating the Login demo app to use the password input_type then yes I guess we can close the issue :)

[2015-04-17 10:20] charbelhass commented on #242
Hello again
@3lvis can we have the multiselect on master branch

[2015-04-17 10:42] 3lvis commented on #242
@charbelhass Hi! I'm sorry this is not finished yet. I'll let you know when it's ready.

:disappointed:

[2015-04-17 10:47] #345 closed

[2015-04-17 13:27] Mutix opened #350 "Add ability to set custom bounds for forms which are not full-screen"
Currently, the bounds used by the form layout are the main screen's bounds.

If we attempt to present a form in a modal form sheet presentation style on the iPad, the form layout is wrong and the width for groups, sections and fields end up being too large for the reduced view size.

For example:

![ios simulator screen shot 17 apr 2015 14 08 21](https://cloud.githubusercontent.com/assets/677629/7

[2015-04-17 13:34] 3lvis commented on #350
Woah, did saw this one. I think you can use the UICollectionView's bounds for this.

[2015-04-17 13:38] Mutix commented on #350
:+1: Using the collection view's bounds makes most sense indeed.

PR incoming shortly :)

[2015-04-17 14:05] Mutix opened #351 "Field icons (date, down arrow, clock) overlap field's text field if the field's width is short"
As seen in this example:

![ios-simulator-screen-shot-17-apr-2015-15 02 28](https://cloud.githubusercontent.com/assets/677629/7203529/2cd20964-e513-11e4-8037-bb7bf21bc7f4.png)

[2015-04-17 14:31] charbelhass opened #352 "How To Get Entered Values"
Hello,
I created all the fields i want, i can't figure out how to get the results after filling the fields!

Thanks

[2015-04-17 14:32] 3lvis commented on #352
Hi @charbelhass!

You can get the values from your `FORMDataSource` instance by calling `values` => https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L139

[code]

[2015-04-17 14:32] #352 closed

[2015-04-17 14:38] charbelhass commented on #352
yeah thanks :D

[2015-04-18 14:35] #350 closed

[2015-04-20 06:28] charbelhass commented on #342
Hello guys,
can we fix this one?!

Regards

[2015-04-20 08:21] charbelhass commented on #342
hello,
I solved this issue by adding this code when calling the dataSource.
I believe the issue is that when the field return empty string, you are not setting field.value = nil

[code]

![4cc3l6ylv7](https://cloud.githubusercontent.com/assets/9074156/7226203/3344df2c-e74f-11e4-8a98-47f10a3ec577.gif)

[2015-04-20 08:39] charbelhass commented on #342
Oh it is not working with date! the app crashes
let me check

[2015-04-20 08:43] charbelhass commented on #342
To fix date and selection crash, i changed the condition to if ([field.value isKindOfClass:[NSString class]] && [field.value isEqualToString:@""])

[code]

[2015-04-20 09:17] 3lvis commented on #342
@charbelhass That's very interesting, I will take some time between today and tomorrow to fix. Thanks for your patience :)

[2015-04-20 10:36] charbelhass commented on #342
thank you

[2015-04-20 11:32] vadymmarkov opened #357 "Email field shouldn't accept commas"
We don't support multiple emails now, so it should be safe to drop commas.

[2015-04-20 13:27] charbelhass opened #359 "Sub Questions Update/Save Issue"
Hello everyone!
I created my form with a save button,
I used this code to log the results i want to save,
[code]
In this Gif i show an issue that if i have a field of type selection that has 3 options, the first one shows a subquestion, the second one shows another subquestion, the last one show another subquestion also.
I hit the save every time when change the selected value, as you can see in t

[2015-04-20 13:38] zenangst opened #360 "Issue with info labels not showing if Form never transitions from being disabled to enabled"
If Form is presented without changing editing state, info labels will not be shown for textfields.

[2015-04-20 20:03] jeffleeismyhero opened #361 "Set field values for templates"
I have a dynamic section to add tickets. Within the template section for my tickets, one of the fields is a select. The three other fields are: quantity, price, and total.

How can I set the price field based on the Ticket I've selected from the select field and have the total column update as well?

[code]

[2015-04-20 21:13] 3lvis commented on #361
Hi @jeffleeismyhero! First of all I found an issue with the `id` of your dynamic section, you wrote `more-tickets` where it should be `tickets`, also I fixed the formatting so it's valid JSON.

[code]

[2015-04-20 21:53] 3lvis commented on #361
@jeffleeismyhero You can use a `condition` on a `target`, the condition would point the value of `ticket_type`. It will give you a better example once I fix an issue that I just found related to `formula` and dynamic fields.

[code]

[2015-04-20 22:03] 3lvis opened #362 "Formula not working with dynamic sections"
The following `formula`:

[code]

Should become:

[code]

For the section `tickets[0]`.

Right now just keeps been:

[code]

----

[code]

[2015-04-20 22:04] #357 closed

[2015-04-20 22:04] 3lvis commented on #357
Fixed on #358

[2015-04-20 22:05] 3lvis commented on #351
Hi @Mutix,

Not sure if we could/should do something about this, it's up to the developer to find a field size that fits the screen.

If you think otherwise please let me know.

[2015-04-20 22:05] #351 closed

[2015-04-20 22:06] 3lvis commented on #316
Fixed

[2015-04-20 22:06] #316 closed

[2015-04-20 22:09] 3lvis commented on #254
haven't seen this again

[2015-04-20 22:09] #254 closed

[2015-04-20 22:10] 3lvis commented on #143
@zenangst What does this mean? Do you remember?

[2015-04-21 02:04] jeffleeismyhero commented on #361
Thanks, @3lvis. I've cleaned up the JSON, and I think I fixed each of the issues in it.

I think the three outstanding issues are:

1. Template formula not being parsed/executed.
2. Ability to pass/set a value from a select -- in a template (e.g., Select option "3-Day Adult Ticket ($39)" sets "$tickets[:index].price" to 39.
3. The "value" does not seem to be respected when set in a template (e.g.,

[2015-04-21 02:14] jeffleeismyhero commented on #362
Note: I tried explicitly setting the formula to:

[code]

and the field did not update either.

[2015-04-21 06:01] 3lvis commented on #362
Any ideas, @zenangst?

[2015-04-21 06:02] zenangst commented on #362
I can have a look :sunglasses:

[2015-04-21 08:23] #362 closed

[2015-04-21 08:25] zenangst commented on #362
@jeffleeismyhero I made a PR that's on `master` now, a new release will be available shortly.

[2015-04-21 09:07] 3lvis commented on #362
Fixed on https://github.com/hyperoslo/Form/releases/tag/3.3.1

[2015-04-21 09:30] Mutix commented on #351
Agreed, it is the client's responsibility to choose an appropriate layout for the form (I changed the layout in the modal form example because of this).

It could be handled a bit more gracefully though (for example not showing the icon if there isn't enough space for it), but happy for the issue to be closed for now :)

[2015-04-21 15:40] jeffleeismyhero commented on #362
Thanks, @3lvis. It seems that if the ID used in the formula contains a dash, the formula is not executed. So, the field and section names cannot include dashes (e.g., "id":"more-tickets").

This works:
[code]

This does not work:
[code]

[2015-04-21 15:53] jeffleeismyhero opened #368 "The default value for a select is not respected/set when used in a template"
The default value for a select is not respected/set when used in a template.

[code]

[2015-04-21 16:08] jeffleeismyhero opened #369 "Form 3.3.2 breaks date selects"
The Confirm and Clear options appear over the date components:

![Broken Date Popover](https://cloud.githubusercontent.com/assets/43980/7256724/7e3c7946-e816-11e4-9e20-5772abd7a3aa.png)

This issue is not present in Form 3.3.1.

[2015-04-21 16:32] #369 closed

[2015-04-21 17:29] 3lvis commented on #368
Fixed on #371

[2015-04-21 17:29] #368 closed

[2015-04-21 17:36] 3lvis commented on #361
I think the three outstanding issues are:

- [ ] Template formula not being parsed/executed.
- [ ] Ability to pass/set a value from a select -- in a template (e.g., Select option "3-Day Adult Ticket ($39)" sets "$tickets[:index].price" to 39.
- [ ] The "value" does not seem to be respected when set in a template (e.g., Quantity should default to 1 but it's blank).
Two other related items:

- [ ] H

[2015-04-22 03:09] jeffleeismyhero commented on #54
It seems that this could be an implementation option that applies to all fields OR as a per-field option. I propose that the option live in the JSON file(s) to allow quick and easy changes based on a user's locale or the context in an application.

I'm not familiar with how iOS handles different locales or if it is a viable option for this project. This seems to be a well written resource on the m

[2015-04-22 06:11] 3lvis commented on #361
This should be possible today, you just need to add a value to one of the items in your select field:

https://github.com/hyperoslo/Form/blob/master/Demos/Basic-ObjC/Basic-ObjC/Assets/forms.json#L226

[2015-04-22 06:16] 3lvis opened #372 "The "value" does not seem to be respected when set in a template"
The "value" does not seem to be respected when set in a template (e.g., Quantity should default to 1 but it's blank)

[code]

---

_Full JSON_:

[code]

[2015-04-22 06:23] 3lvis commented on #361
[You have to intercept the configuration of the field and set the date there.](https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L14-L16)

[code]

- [NSString-HYPRelationshipParser
](https://github.com/hyperoslo/NSString-HYPRelationshipParser)

[2015-04-22 07:11] charbelhass commented on #359
Hello,
guys can you fix this one?

[2015-04-22 07:15] 3lvis commented on #359
@charbelhass Looking into it

[2015-04-22 07:20] charbelhass commented on #359
Ok thanks :D Waiting

[2015-04-22 07:21] charbelhass commented on #359
@3lvis i closed this one by fault

[2015-04-22 07:23] 3lvis commented on #359
@charbelhass mind sharing your JSON?

[2015-04-22 07:26] charbelhass commented on #359
1 sec

[2015-04-22 07:28] charbelhass commented on #359
[code]

[2015-04-22 07:29] 3lvis opened #373 "Dynamic section inserts new section at the end when it should be just before the add button"
- First name field
- Add button
### Pressed add button

_Current:_
- First name field
- Add button
- New dynamic field 1

_Expected:_
- First name field
- New dynamic field 1
- Add button
### Pressed add button

_Current:_
- First name field
- Add button
- New dynamic field 1
- New dynamic field 2

_Expected:_
- First name field
- New dynamic field 1
- New dynamic field 2
- Add button

[2015-04-22 07:29] 3lvis commented on #373
@thuygianguyen is this correct?

[2015-04-22 07:41] zenangst commented on #373
Seems correct as far as I know.

[2015-04-22 13:16] #359 closed

[2015-04-22 13:18] 3lvis commented on #359
@charbelhass Mind verifying if this fixes your issue before I make a new release?

[2015-04-22 13:21] charbelhass commented on #359
yes i found one 1 second

[2015-04-22 13:24] charbelhass commented on #359
Look At the value of 103 after selecting second option, then return back to the first 1,

![now8pjsawg](https://cloud.githubusercontent.com/assets/9074156/7275304/e0c8e838-e90b-11e4-854f-c88071e12df7.gif)

[2015-04-22 13:25] charbelhass commented on #359
Note that the JSON is the same I gave to but i added SelctionXXX before each id

[2015-04-22 13:36] 3lvis commented on #359
I got a more debug friendly version of your JSON here, I'll take a look.

[code]

[2015-04-22 13:45] charbelhass commented on #359
Yeah it is better for you,
I am creating the JSON Dynamically so the id's are the primary keys in my database.
If you change the JSON the result must be same.
Thank you in advance :D

[2015-04-22 14:13] jeffleeismyhero opened #379 "Formula to sum fields added from templates"
I have a calculated field ```total``` as a value of ```price * quantity```. Additional sections can be added via templates with the same fields so that ```moretickets[:index].total = moretickets[:index].price * moretickets[:index].quantity```.

I would like to have a field at the bottom of my form that dynamically updates with sum or "Grand Total" of the ```total``` and ```moretickets[:index].tota

[2015-04-22 14:15] charbelhass commented on #359
@3lvis this one is only happening if a selection has a sub question of type selection!

[2015-04-22 14:16] 3lvis commented on #359
@charbelhass fixed already!

https://github.com/hyperoslo/Form/pull/380/files

[2015-04-22 14:18] charbelhass commented on #359
@3lvis is it on master?
Man i should learn Git :p

[2015-04-22 14:22] 3lvis commented on #359
@charbelhass

you can always try a branch by doing

[code]

[2015-04-22 14:31] charbelhass commented on #359
@3lvis I'm already doing this
pod 'Form', git: 'https://github.com/hyperoslo/Form', :branch => 'master'

if i try to get another branch, i will miss all the fixes you do on the master branch, this is why I always try to get the master one.

I only need this one to be fixed, and i need also the multiple selection,
it is not possible to have the master branch along with the multiselection branch.

A

[2015-04-22 16:21] 3lvis commented on #359
Merged and available on master

[2015-04-22 19:59] charbelhass commented on #359
thank you very much!

[2015-04-22 23:11] jeffleeismyhero opened #383 "Formulas do not respect default field values"
Using the JSON below, a form us built with a select field (Ticket Type), and three numeric fields (Quantity, Price, and Total).

The Ticket Type select field properly sets the value of the Price field when the form loads based the value of the default option of the select. The Quantity field has a default value of "1."  However, the Total field is not updated until the Quantity field is manually c

[2015-04-23 02:39] jeffleeismyhero commented on #361
Thanks, @3lvis. I was able to use the following code to set the dates:

[code]

I'm still unable to set prices in templates from a select, though.

[code]

[2015-04-23 06:58] charbelhass commented on #359
@3lvis still this one is not working man

[2015-04-23 07:02] 3lvis commented on #359
@charbelhass something new? Or same issue?

[2015-04-23 07:05] 3lvis commented on #359
![screems](https://cloud.githubusercontent.com/assets/1088217/7292017/ee926d54-e997-11e4-9d13-b3ac84be6b98.png)

[2015-04-23 07:07] charbelhass commented on #359
Hello,
I did pod install
pod 'Form', git: 'https://github.com/hyperoslo/Form', :branch => 'master'
The issue exists.

but I downloaded the source code, and copied my JSON everything was fine.
is something wrong on the master?
I don't know whats happening

[2015-04-23 07:09] 3lvis commented on #359
I will make a new release, lets see if that works

[2015-04-23 07:11] charbelhass commented on #359
wait I am trying it without  'https://github.com/hyperoslo/Form', :branch => 'master'
i got:
Downloading dependencies
Using AFNetworking (2.5.1)
Using BRORM (0.5)
Using DateTools (1.5.0)
Using FMDB (2.5)
Installing Form 3.3.3 (was 3.3.0)

i think pointing it to the master branch was the issue

[2015-04-23 07:13] charbelhass commented on #359
I dunno bro got the old issue when i did pod 'Form'
the one that doesn't remove hidden fields from the result.
i will remove Form and install it again from branch master

[2015-04-23 07:15] 3lvis commented on #359
Form 3.3.4 is available, you can remove the branch now :)

https://github.com/hyperoslo/Form/releases/tag/3.3.4

[2015-04-23 07:20] charbelhass commented on #359
Thanks it worked :D

[2015-04-23 07:47] 3lvis commented on #383
Thanks for reporting this @jeffleeismyhero! Will look into it.

[2015-04-23 08:34] 3lvis commented on #383
Hey @jeffleeismyhero, I was able to reproduce the issue. We haven't faced this one because we use the values parameter to do this kind of things in our apps.

[code]

[2015-04-23 09:38] 3lvis commented on #383
Fixed in https://github.com/hyperoslo/Form/pull/384

[2015-04-23 10:11] #383 closed

[2015-04-23 10:50] 3lvis commented on #383
Hi @jeffleeismyhero! This issue is fixed on 3.3.5, thanks!

https://github.com/hyperoslo/Form/releases/tag/3.3.5

[2015-04-23 17:23] jeffleeismyhero commented on #383
Thanks, that seems to work fine now.

[2015-04-23 21:19] jeffleeismyhero opened #385 "Edit the value of a form field"
I will be reading input from hardware and would like the data to appear, as it is read, in a form field.

Is this currently possible? I've tried the following, but the form field never visually updates.

[code]

[2015-04-23 21:43] 3lvis commented on #385
Hi @jeffleeismyhero,

You can use `[self.dataSource reloadWithDictionary:@{"debug-data" : @"debug data here"}];`

https://github.com/hyperoslo/Form/blob/master/Demos/Basic-ObjC/Basic-ObjC/Controllers/HYPSampleCollectionViewController.m#L202-L210

Please let me know if this works for you :)

[2015-04-23 21:43] #385 closed

[2015-04-23 21:45] 3lvis commented on #379
At the moment we don't have support for this out of the box, I will take some time tomorrow to see how we can achieve this with the current setup and also if it would be possible to add this as a feature.

I get the feeling that this could be a useful feature ;)

[2015-04-23 21:45] 3lvis commented on #361
I think you already got this working, right?

[2015-04-23 22:01] jeffleeismyhero commented on #385
Yes, thanks. I just got that working. I tried it before but did not call reloadData on the collection view.

[code]

[2015-04-23 22:38] jeffleeismyhero commented on #361
Correct. These are the items I'm still stuck on:

Ability to pass/set a value from a select -- in a template (e.g., Select option "3-Day Adult Ticket ($39)" sets "$tickets[:index].price" to 39
#54 How can the float delimiter be changed? I'd like to use "39.00" instead of "39,00" for the US

[2015-04-24 03:13] jeffleeismyhero commented on #379
This is mostly working. However, the application crashes when I run this method and subsequently attempt to remove a section added via a template.

[code]

#### JSON
[code]

[2015-04-24 14:01] jeffleeismyhero opened #386 "Only first dynamic field-set calculates formulas"
Using the JSON below, I can add "another ticket" and the total is calculated. If I add more than that, the total is not calculated.

[code]

[2015-04-24 15:21] 3lvis commented on #386
Hey @jeffleeismyhero! I was able to reproduce this issue, you can follow the progress in => #387

[2015-04-24 15:26] jeffleeismyhero commented on #379
The crash issue was resolved by renaming the "grand-total" field to "grand_total". It seems that the dash did not place nicely with ```setValuesForKeysWithDictionary```

[2015-04-24 16:21] jeffleeismyhero opened #388 "fieldUpdatedBlock does not fire when target updates a field"
I have a Quantity and Price field each with targets to update a Total field with the formula of "$price * $quantity"

When the target action of update is executed, the total field is changed but not in a way that ```fieldUpdatedBlock``` recognizes.

The objective is to call a method to change a "grand_total" field each time one of the totals changes.

[code]

#### JSON
[code]

[2015-04-27 18:04] 3lvis commented on #242
This is how it should look

![multiselect](https://cloud.githubusercontent.com/assets/1088217/7354038/920ee588-ed18-11e4-98b8-99b6918e6ee2.png)

[2015-04-27 20:29] jeffleeismyhero commented on #242
Can this be limited to one selection? To make it act like a radio button?

[2015-04-27 21:43] 3lvis commented on #242
The JSON could look like this,

[code]

[2015-04-28 06:33] 3lvis commented on #242
No progress coming soon; feel free to send a PR following the suggested design. :)

[2015-04-29 13:31] 3lvis opened #390 "Add a way to focus on an specific field and optionally as part of `validate`"
When you validate a Form you might want to focus an invalid field.

[2015-05-05 08:55] 3lvis opened #393 "Update Demos to use FORMViewController"
- [ ] Swift demo
- [ ] Login demo

[2015-05-05 09:26] 3lvis commented on #393
Might be nice to have a demo that doesn't use FORMViewController

[2015-05-05 09:26] #393 closed

[2015-05-05 11:15] 3lvis commented on #255
Fixed in #392

[2015-05-05 11:15] #255 closed

[2015-05-13 05:45] #386 closed

[2015-05-13 09:22] zenangst opened #408 "Move dynamic height calculation for selects into it's own method"
https://github.com/hyperoslo/Form/blob/master/Source/Cells/Popover/FORMSelectFieldCell.m#L73-L80

With tests.

[2015-05-13 09:22] 3lvis commented on #408
https://github.com/hyperoslo/Form/pull/407#discussion_r30213839

[2015-05-13 13:55] jeffleeismyhero opened #409 "Module 'HYPMathParser' not found"
I'm receiving the following error when I attempt to use the current master branch (d2b80b982adc90e428817d02f7ce62067bf9a8cd):

[code]

[2015-05-13 14:15] 3lvis commented on #409
Have you try using

`use_frameworks!` in your Podfile?

[2015-05-13 14:37] jeffleeismyhero commented on #409
Thanks, that was it.

[2015-05-13 14:37] #409 closed

[2015-05-21 19:49] uzegonemad opened #415 "UIButton highlight state not working with Form installed"
I'm sure that I'm just missing something but when I install Form, the highlighted state on UIButtons cease to work.

I've whipped up [a demo](https://github.com/uzegonemad/hyperoslo-form-uibutton-issues) detailing this issue, but here are the steps to recreate:

1. Create a new project
1. Install form (in this case via pods)
1. Add button to storyboard
1. Add outlet
1. Add code to set title color

[2015-05-21 20:43] 3lvis commented on #415
@uzegonemad Hi Benjamin, thanks for reporting this issue, I'll let you know what I find.

Best,

[2015-05-22 15:54] uzegonemad commented on #415
@3lvis thank you! Let me know if there's anything else I can do to assist.

[2015-05-23 04:29] uzegonemad commented on #415
I tracked this down to a [couple lines](https://github.com/3lvis/UIButton-ANDYHighlighted/blob/99c1d3ebfcdc9d1b4add507e8cb5ba8a3d575627/Source/UIButton%2BANDYHighlighted.m#L69-L83) from `UIButton-ANDYHighlighted`. The specific method I'm referring to is `setHighlighted`.

As a test, I commented out that method in my example and the highlighted state began functioning as expected.

Then, I opened F

[2015-05-23 06:14] 3lvis commented on #415
@uzegonemad Wow, this could definitely be an issue, also I remember someone saying that you have to set all the three properties of highlighted button in order to get it working.

https://github.com/3lvis/UIButton-ANDYHighlighted/blob/master/Source/UIButton%2BANDYHighlighted.h#L5-L9

I always added a color to all the properties I guess that's why I got it working without problems.

[2015-05-23 06:18] 3lvis commented on #415
@uzegonemad Can you try using the `FORMDefaultStyle` to check if the error still appears, as I wrote before having I remember someone saying that you need to have all of this ones:

[code]

In order to button change color properly.

[2015-05-23 13:59] uzegonemad commented on #415
@3lvis I tried using both `FORMDefaultStyle` and manually setting the appearance, still nothing.

I'm curious why the super method isn't getting called though - seems like that portion is an Apple bug. Even if you comment out the if statements and _only_ call the super method, it still doesn't trigger. This is very bizarre!

[2015-05-23 19:38] 3lvis commented on #415
Hi @uzegonemad, I cloned your example and this is definitely an issue with the UIButton category that we use in Form.

You can achieve the highlighting colors using

[code]

[2015-05-23 19:42] 3lvis commented on #415
I moved this issue to the respective project. => https://github.com/3lvis/UIButton-ANDYHighlighted/issues/3

Please let me know if the workaround doesn't work for you.

[2015-05-23 19:42] #415 closed

[2015-05-23 19:43] 3lvis opened #416 "Document issues with highlight and UIButton"
This doesn't work

[code]

You have to use the UIButton category
[code]

[2015-05-23 19:44] 3lvis commented on #415
https://github.com/hyperoslo/Form/issues/416

[2015-05-26 12:53] 3lvis opened #418 "Update FORMDefaultStyle to resemble a native iOS 7/8 app"

[2015-05-27 12:24] 3lvis opened #419 "Crash in FORMFieldValue's identifierIsEqualTo:"
Stacktrace:
[code]

[2015-06-02 21:29] jeffleeismyhero opened #422 "Button actions"
How can buttons be used to perform actions?

I have the following buttons:

![screen shot 2015-06-02 at 4 20 50 pm 1](https://cloud.githubusercontent.com/assets/43980/7947571/8c832a1a-0943-11e5-8b10-cba3f61696d7.png)

The objective is to increase and decrease the date without the need for a picker.

[2015-06-02 21:39] 3lvis commented on #422
Whenever a button gets pressed you'll received a call to [this block](https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L31-L32), then you can do whatever you want by using the button's `fieldID`

[2015-06-02 22:00] jeffleeismyhero commented on #422
I've attempted something like this. Where am I going wrong? Both the decrease and increase steps fire.

[code]

[2015-06-03 02:00] jeffleeismyhero commented on #422
The issue here was with my date comparison to prevent dates earlier than today:

[code]

The working version of that method is:
[code]

While learning Objective-C has been fun, this sort of stuff makes me miss the conveniences of Ruby-land.

[2015-06-03 02:00] #422 closed

[2015-06-03 05:41] 3lvis commented on #422
Of course! I hate when I have to do that. Hopefully it will get better with Swift.

[2015-06-12 17:11] jeffreyjackson commented on #242
@3lvis I really like the design here, do you have anything else to go off of if one of us wants to start a PR?

[2015-06-12 22:02] danr777 commented on #242
Please! my previous attempt was not up to par :)

On Fri, Jun 12, 2015 at 1:11 PM Jeffrey Jackson <notifications@github.com>
wrote:

[2015-06-15 13:29] jeffleeismyhero opened #423 "Hiding a field using FORMTarget throws exception"
The following code is expected to hide a field after it has displayed. However, it throws an ```NSInternalInconsistencyException``` exception.

[code]

Sample JSON:

[code]

Stack trace:

[code]

[2015-06-16 07:55] 3lvis commented on #423
Thanks @jeffleeismyhero! I'll take a look tonight.

[2015-06-17 08:01] 3lvis commented on #423
@jeffleeismyhero Copied your JSON to `Basic-ObjC` and added

[code]

As an action on `updateButtonAction` and it works fine.

[2015-06-17 08:06] #423 closed

[2015-06-17 08:09] 3lvis commented on #423
@jeffleeismyhero It might be caused because you're doing this in `init`, if you want this field to be initially hidden you can add the `hidden: true` flag to your JSON and then somewhere in your code just show the field using `show` target.

[2015-06-17 15:46] jeffleeismyhero commented on #423
I was calling that in ```init```. If I move it to ```viewDidLoad``` I have the same issue. Anywhere after that (e.g., ```viewWillAppear``` or ```viewDidAppear```) works without issue.

Thanks for looking into it!

[2015-06-18 14:37] jeffleeismyhero opened #425 "Multi-select Branch"
What is the status of merging in the [feature/multiselect](https://github.com/hyperoslo/Form/tree/feature/multiselect) branch?

[2015-06-18 14:44] 3lvis commented on #425
Hey @jeffleeismyhero, that branch is death. You can follow progress here => https://github.com/hyperoslo/Form/issues/242

The current status of this feature is:

[2015-06-18 14:44] #425 closed

[2015-06-18 14:45] 3lvis commented on #242
@jeffreyjackson feel free to start a PR, let me know if I can help with anything :)

[2015-06-18 15:01] jeffreyjackson commented on #242
@3lvis I really like the design of the multiselect here, but I also think that it also makes sense to consider a solution similar to the current select method now.  The difference would be that the rows are annotated with checkmarks for those that are selected.  Therefore you would be able to select multi items in the tableView.  The form field would then be delimited by commas.  For a client proj

[2015-06-18 16:29] 3lvis commented on #242
I see how the comma separated list would work and would be easier/faster to implement, but it feels like a halfway solution. And there are other caveats too, like you wouldn't be able to support field titles with commas, or you would have to make a field that is super long in order to show the selected results.

Personally I would prefer if we had the proposed UI, I understand that it's harder to

[2015-06-18 16:42] danr777 opened #426 "field height?"
I am not clear how to work this?

"size":{
                "width":100,
                "height":???
              },

Does not seem to have an effect on a text field at all?

Is there a multiline text option?

Thanks in advance!

[2015-06-18 17:17] 3lvis commented on #426
Hi Dan,

The `height` only affects custom fields, for example in the [Basic-Objc demo](https://github.com/hyperoslo/Form/tree/master/Demos/Basic-ObjC) you have an `image` cell. Changing the height:

[code]
Makes it look like this

![simulator screen shot jun 18 2015 7 14 02 pm](https://cloud.githubusercontent.com/assets/1088217/8237315/a52ec51c-15ee-11e5-9360-a8248d7c98c8.png)

[2015-06-18 17:17] #426 closed

[2015-06-18 17:18] 3lvis commented on #426
@danr777 We don't have support for multiline text option, you can add your own following the patterns used for the custom `image` field.

[2015-06-18 17:47] jeffreyjackson commented on #242
First, let me ask you this:
Would it be difficult to dynamically resize the form field for large inputs instead of truncated with a `...`?  Or does it have this functionality somehow now?

[2015-06-18 18:45] 3lvis commented on #426
@danr777 This is where we set the height of the fields

https://github.com/hyperoslo/Form/blob/eed1f04d63dbecf0e4a62993f4f7150a20847fdd/Source/FORMDataSource.m#L288-L292

[2015-06-18 18:46] 3lvis commented on #242
@jeffreyjackson Changing the `width` of the field then invalidating the layout should work.

The width of the cell depends on the `width` of the field. You can find the implementation here.

https://github.com/hyperoslo/Form/blob/eed1f04d63dbecf0e4a62993f4f7150a20847fdd/Source/FORMDataSource.m#L286

[2015-06-18 19:02] jeffreyjackson commented on #242
@3lvis I was thinking that the height would resize to show all content?

[2015-06-18 19:47] jeffreyjackson opened #427 "Documentation"
Is there documentation anywhere for the different capabilities of Form?

[2015-06-18 22:08] 3lvis commented on #427
All there's at the moment is the demos, the README and this PR work in progress. I'm sorry we don't provide more information on the different capabilities of Form, I hope to fix this soon.

[2015-06-18 22:08] #427 closed

[2015-06-19 07:33] 3lvis commented on #18
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:33] #18 closed

[2015-06-19 07:33] 3lvis commented on #33
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:33] #33 closed

[2015-06-19 07:34] 3lvis commented on #78
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:34] #78 closed

[2015-06-19 07:34] 3lvis commented on #178
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:34] #178 closed

[2015-06-19 07:34] 3lvis commented on #179
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:34] #179 closed

[2015-06-19 07:35] 3lvis commented on #184
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:35] #184 closed

[2015-06-19 07:35] 3lvis commented on #202
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:35] #202 closed

[2015-06-19 07:35] 3lvis commented on #215
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:36] 3lvis commented on #281
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:36] #281 closed

[2015-06-19 07:36] 3lvis commented on #283
This has been fixed.

[2015-06-19 07:36] #283 closed

[2015-06-19 07:37] 3lvis commented on #305
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:37] #305 closed

[2015-06-19 07:37] 3lvis commented on #294
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:37] #294 closed

[2015-06-19 07:37] 3lvis commented on #331
I'll just leave the critical issues open, closing this one.

[2015-06-19 07:37] #331 closed

[2015-06-19 07:38] 3lvis commented on #361
This is been followed up here https://github.com/hyperoslo/Form/issues/54

[2015-06-19 07:38] #361 closed

[2015-06-19 07:39] 3lvis commented on #408
Not critical, closing this one for now.

[2015-06-19 07:39] #408 closed

[2015-06-19 07:39] 3lvis commented on #418
Not critical, closing this one for now.

[2015-06-19 07:39] #418 closed

[2015-06-19 07:39] 3lvis commented on #390
Not critical, closing this one for now.

[2015-06-19 07:39] #390 closed

[2015-06-19 11:48] danr777 commented on #426
thank you!:)

[2015-06-19 15:09] danr777 opened #428 "Custom Field value storage?"
As an example in the "image" custom field, how would one set a value back to the datasource of the form itself?

[2015-06-19 16:18] jeffreyjackson opened #429 "Sort Order"
What causes targets to show up at the top of a section when they are shown?  Ideally, I'd like all of my targets to maintain order with how they are in the JSON file.  Am I missing something?

[2015-06-19 16:37] 3lvis commented on #429
Hi Jeffrey,

They should keep the original location, do you have an example JSON to debug what's going on?

Best,

[2015-06-19 17:03] 3lvis commented on #428
@danr777 Make it a subclass of `FORMBaseFieldCell` and when the value changes you can call the delegate:

[code]

This will inform `FORMDataSource` of the change.

[This is how `FORMTextFieldCell` does it](https://github.com/hyperoslo/Form/blob/master/Source/Cells/Text/FORMTextFieldCell.m#L332-L345)

[2015-06-19 17:03] #428 closed

[2015-06-19 17:15] 3lvis commented on #428
@danr777 are you working on the multi-line field? I might be able to help :)

[2015-06-19 17:37] jeffreyjackson commented on #429
this is the forms.json I'm using in basic objc project
[code]

[2015-06-19 17:38] jeffreyjackson commented on #429
please note that the selection of "other" in both select fields sends the targets to the top of the group. cc @3lvis

[2015-06-19 17:39] jeffreyjackson commented on #429
@3lvis thanks for your help on this.  The client I'm working for finds a lot of promise in using Form, and we are eager to contribute back.

[2015-06-19 17:39] danr777 commented on #428
Hi,  Yeah, I give up lol... I tried as an experiment, just changing UITextField to UITextField on the TextField.m's and TextFieldCells.m, but could not figure out one error.. but now i think i'll just make a custom one, now with this It will help ..

I have a whole bunch of custom fields i'd like to make now with this information

Map location selector, Signature collection, Multiselect, multi pho

[2015-06-19 18:10] 3lvis commented on #428
@danr777 hahaha, wow, all of that sounds nice. How would the map location selector work?

[2015-06-19 18:14] danr777 commented on #428
Show a mkmapview which would a default location with one pin in center.
That mkannotation would be draggable

On Fri, Jun 19, 2015 at 2:10 PM Elvis Nuñez <notifications@github.com>
wrote:

[2015-06-19 18:16] danr777 commented on #428
Or even nicer there would a stationary crosshair overlay on map and as you
drag/zoom the map around the crosshair would always stay dead center
On Fri, Jun 19, 2015 at 2:14 PM Dan Russo <danrrusso@gmail.com> wrote:

[2015-06-19 19:43] 3lvis commented on #428
@danr777 Interesting!

[2015-06-19 19:50] 3lvis opened #430 "Crash `FORMFieldValue` copy"
[code]

[2015-06-19 20:28] danr777 commented on #428
Just not getting it, that line never gets past the first condition: (sorry! thank you for help!!! :) ), i'm sure once I see a working example i'll figure it out:, basically want my textview.text to be my value stored

[code]

[2015-06-22 09:34] 3lvis commented on #428
@danr777 Sorry, I was wrong, you'll have to use a different method to notify FORMDataSource of your changes. I'm working on improving support for custom fields using the multiline as an example.

[2015-06-22 12:30] danr777 commented on #428
Wow that’s great! Thank you

On Mon, Jun 22, 2015 at 5:34 AM Elvis Nuñez <notifications@github.com>
wrote:

[2015-06-22 17:29] jeffreyjackson commented on #429
@3lvis any idea on why this is happening?   I hope its just some error on my end.

[2015-06-22 18:48] 3lvis commented on #429
Hey Jeffrey! Looks like a bug in form related to fields hidden by default not playing nicely with targets.

[2015-06-22 19:40] jeffreyjackson commented on #429
@3lvis  thanks for following up on this.

[2015-06-26 14:32] jeffreyjackson opened #432 "Initialize all collapsed"
Is there current functionality to initialize all groups collapsed?

[2015-06-26 16:43] zenangst commented on #432
@jeffreyjackson hey, no not at the moment but feel free to make a pull request and add it :sunglasses:

[2015-06-26 16:45] jeffleeismyhero commented on #432
:+1 on that PR. It would also be nice to have a way to programmatically collapse a specific group. Or documentation if a way already exists.

[2015-06-26 17:04] zenangst commented on #432
@jeffleeismyhero :+1: on that suggestion!

[2015-06-26 19:03] jeffreyjackson commented on #432
See PR #433

[2015-06-27 04:11] jeffleeismyhero opened #434 "Toggling a section's visibility"
I can hide a section with:

[code]

Similarly, I can show a section with:

[code]

How can I determine if a section is hidden or visible? I want a button that will toggle the section to display or hide.

Additionally, how can I mark sections as hidden initially without resorting to the code above? That doesn't currently seem to be supported.

[2015-06-29 16:47] #432 closed

[2015-06-29 16:48] #430 closed

[2015-07-11 19:14] danr777 commented on #311
How can we fix this? use the new ios8+ popover object?

[2015-07-11 19:29] 3lvis commented on #311
@danr777 Yeah! That might work

[2015-07-14 16:10] jeffleeismyhero commented on #85
This seems to be a current issue. Can you confirm?

[2015-07-15 05:58] 3lvis commented on #85
@jeffleeismyhero is an issue as far as I know

[2015-07-15 10:10] Jamonek opened #439 "FORMDataSource.m"
Around line 166:
[code]
What should the second case be?

I ran into a compile issue with this.

[2015-07-15 10:24] 3lvis commented on #439
@Jamonek Shouldn't be needed was introduced in the last PR, I'll look into it

[2015-07-15 10:27] 3lvis commented on #439
Fixed https://github.com/hyperoslo/Form/commit/d81e57eeb5cb56fdd3d79f313be00576ed1134aa

[2015-07-15 10:27] #439 closed

[2015-07-15 12:11] philipheinser opened #440 "Build error after install with pods"
[code]

[2015-07-15 13:57] 3lvis commented on #440
Hi Philip!

Are you using `use_frameworks!` on your Podfile?

[2015-07-15 14:18] philipheinser commented on #440
My Podfile :
[code]

[2015-07-15 18:21] philipheinser commented on #440
@3lvis how can this be? ```pods install``` does run successfully.

[2015-07-15 21:37] jeffleeismyhero commented on #85
Targets defined in hidden fields will fire with the change displayed below IF I switch to _readonly_ and then back to _readwrite_.

![screenshot 2015-07-15 15 54 33](https://cloud.githubusercontent.com/assets/43980/8709684/d3ed7206-2b09-11e5-9787-ba60e36dd7cb.png)

The updated `updatedIndexPaths` array remains empty throughout. It would seem

Reference JSON:

[code]

[2015-08-18 15:45] uzegonemad opened #442 "Scroll to a section automatically?"
Is it possible to scroll to a specific section (and/or field) when a button is tapped?

I'm building a form with many sections and would like the ability to add a "Table of Contents" view off to the side. This would contain buttons for all the sections in my form, and tapping the button would scroll to the specific section.

As a crude example, let's say I have a form with five sections: Purple, B

[2015-08-18 15:55] jeffleeismyhero commented on #442
There doesn't seem to be a method to do that currently; however, the method used to insert dynamic sections has similar behavior.

https://github.com/hyperoslo/Form/blob/eed1f04d63dbecf0e4a62993f4f7150a20847fdd/Source/FORMData.m#L1145

You may be able to modify the segment below from:

[code]

to accomplish the task:

[code]

[2015-08-18 18:45] 3lvis commented on #442
@jeffleeismyhero you are fantastic!

I think that's right you can just use the method to retrieve the indexPath of the section that you want and scroll to it.

[code]

[2015-08-18 18:46] #442 closed

[2015-08-26 04:37] PhilipBale opened #444 "Unaligned margins"
Hi,

Seems to give: http://puu.sh/jOQKV/8cc7766f9b.png by default, using 100, 100, 50/50, 33/33/33 widths.  Should this be the behavior?

[2015-08-26 04:46] 3lvis commented on #444
Hi Philip,

This doesn't seem right, would you mind providing an example of your JSON file so I can reproduce the issue?

:)

[2015-08-26 13:11] PhilipBale commented on #444
Sure!  Here it is
{
   "groups":[
     {
      "id":"group-id",
      "title":"Group title",
      "sections":[
         {
            "id":"section-0",
            "fields":[
               {
                  "id":"title",
                  "title":"Title*",
                  "type":"text",
                  "size":{
                     "width":100
                  }
               },

[2015-08-26 13:22] jeffleeismyhero commented on #444
When using the provided JSON below in the latest commit of Form, I get the following form:

![screenshot 2015-08-26 08 18 33](https://cloud.githubusercontent.com/assets/43980/9494442/77056782-4bcb-11e5-9b6d-07d4c0061219.png)

What version of Form are you using?

**Provided JSON**
[code]

[2015-08-26 13:25] PhilipBale commented on #444
I was using the most recent on an iPhone in portrait.

Sent from my iPhone

[2015-08-26 13:37] jeffleeismyhero commented on #444
Could you provide exact specs for the environment?

This is what I see in the iPhone 6 / iOS 8.4 simulator with your JSON:

![ios simulator screen shot aug 26 2015 8 32 21 am](https://cloud.githubusercontent.com/assets/43980/9494711/1c16a398-4bcd-11e5-8e49-cd0ad99becfd.png)

iPhone 4s simulator:

![ios simulator screen shot aug 26 2015 8 33 55 am](https://cloud.githubusercontent.com/assets/43980/9

[2015-08-26 14:05] PhilipBale commented on #444
That's what I'm going for :p

Here is the gist of the FormViewController: https://gist.github.com/PhilipBale/dc5840fc1c96bceba588

I'm using a CollectionViewController in my storyboard.

[2015-08-26 14:08] #143 closed

[2015-08-26 14:09] 3lvis commented on #143
Bye

[2015-08-26 21:34] richardoti opened #445 "Additional empty popover cells when opening popover for second time."
Steps to reproduce:
1. Open ObjC demo
2. Open any `FORMSelectFieldCell`, i.e. "Base Salary" or "Contract type" - Everything is correct
3. Tap on any other part of the screen to dismiss popover and open it again - observe additional empty cells and tableview growth in size.

See the screenshots attached.
Before / After
![screen shot 2015-08-26 at 23 34 01](https://cloud.githubusercontent.com/assets

[2015-08-27 04:25] 3lvis commented on #445
Fixed on #446

[2015-08-27 04:25] #445 closed

[2015-08-27 12:17] richardoti commented on #444
@PhilipBale don't you mind if I take your JSOn to use as iPhone FORM example? I may try to test your case.

[2015-08-27 12:20] richardoti commented on #440
I remember, I had the same issue. What CocoaPods version did you use?

[2015-08-27 13:08] richardoti commented on #444
@PhilipBale I've found the way how to fix your bug.
The problem is that when storyboards are being used, the initializer:
[code]
is not being called. `initWithCoder` is being called as the default, so the `UICollectionViewController` is being initialized with default flow layout. Not the `FORMLayout` which is needed. Later, in your implementation you set up the proper Layout to the datasource, but

[2015-08-27 14:15] PhilipBale commented on #444
Thank you very much!!

Sent from my iPhone

[2015-08-27 15:09] richardoti commented on #444
@PhilipBale :smile:
I think, we can close this issue, but, overall, Form integration with storyboards may be improved.
I.e. it would be good to have option for setting layout directly in storyboard without specifying it in code.

[2015-08-27 15:09] #444 closed

[2015-08-27 15:14] richardoti commented on #429
@jeffreyjackson , @3lvis I've debugged the issue and found out that the problem is in this method:
[code]
in file `FORMData.m`
For some reason it returns `<NSIndexPath: 0xc000000000008016> {length = 2, path = 0 - 1}` or `null` while calculating index path properly. I'm going to check it in deep soon. Stay tuned.

[2015-08-27 18:35] 3lvis commented on #444
@richardoti could you make an issue for suggestions on how to improve using Form with storyboards, please :grin: ?

[2015-08-27 20:14] richardoti commented on #444
@3lvis why not :+1:

[2015-08-27 20:24] richardoti commented on #311
Now it doesn't.
But design should be improved later, as fullscreen tableview doesn't looks good.

[2015-08-27 20:24] #311 closed

[2015-08-27 20:26] richardoti commented on #219
@zenangst should we close?

[2015-08-27 20:39] richardoti opened #448 "Better storyboard support"
In storyboard it is possible to specify class for the ViewController:
![screen shot 2015-08-27 at 22 15 45](https://cloud.githubusercontent.com/assets/8013017/9532483/415e1498-4d0c-11e5-9549-77fa667463bc.png)
It would be nice to be able to specify CollectionViewLayout class and not to do that in code, as we have to right now. This way we could avoid such a bugs: #444
![screen shot 2015-08-27 at 22

[2015-08-31 02:15] richardoti opened #452 "Better iPhone "Popover" view"
When I've added iPhone support for popovers, I've just upgraded the logic to new iOS8 features. UI hasn't changed on iPad at all, but on iPhone modal popovers do not look good as some parts of the content interfere with the status bar.

I think, this should be fixed and the best solution is to avoid any phone/tablet specific code, but to use methods provided by Apple.

At first, I think, it may be

[2015-09-02 09:23] rengarajuram commented on #428
Hi Elvis Nuñez,
I tried to  integrate UITextview in this script, but i couldn't get the result. can you post the sample code for UITextView using custom fields.

[2015-09-02 18:08] 3lvis commented on #428
@rengarajuram I'll make an issue for it :)

[2015-09-02 21:53] 3lvis commented on #428
@rengarajuram @danr777 sorry that this took too long, here you go.

https://github.com/hyperoslo/Form/pull/453

[2015-09-03 05:34] rengarajuram commented on #428
Thank you Elvis Nuñez.

[2015-09-03 21:50] zentraedi opened #454 "Group header not visible"
Hi fellows. I just came across this excellent library for a project i need to develop.

I'm using Storyboards for my project and i tried setting up everything in different ways (demo way included) but my forms won't display the group header. I have two groups.

![screen shot 2015-09-03 at 17 20 18](https://cloud.githubusercontent.com/assets/1830701/9671900/1b05aa82-5260-11e5-995d-b8a0f43424d9.png)

[2015-09-03 21:59] jeffleeismyhero commented on #454
What happens if you add a second group?

[2015-09-03 22:00] jeffleeismyhero commented on #454
Also, when you say "placeholder for fields" are you referring to something like an empty "cell" to adjust the positioning of other fields?

[2015-09-03 22:07] jeffleeismyhero commented on #454
I put your JSON into the Basic-ObjC demo and everything worked without issue. It could be a similar issue to this: https://github.com/hyperoslo/Form/issues/444

[2015-09-03 22:14] richardoti commented on #454
@zentraedi Hi! I may look at this tomorrow. Seems that #444 might be related, asa @jeffleeismyhero  has pointed.

I will add storyboard demo project as well, so it would be possible for storyboard users to have an "official" reference.

[2015-09-03 22:17] zentraedi commented on #454
There are two groups, the second one starts with the Twitter and Facebook buttons.

I meant placeholder label for fields, like the default for UITextField provided in iOS. Could be useful if anyone prefers placeholder labels instead of the label on top of the field.

[2015-09-03 22:20] zentraedi commented on #454
Thanks @jeffleeismyhero @richardoti I'll check that out.

[2015-09-04 01:27] zentraedi commented on #454
It worked, i managed to set the layout from the presenting view controller.

Many thanks.

[2015-09-04 01:27] #454 closed

[2015-09-04 02:03] zentraedi opened #455 "Is there any support for localization?"
Hi everyone.

How can i use NSLocalizedString or any localization variant? I've searching and digging but so far i haven't found anything relevant.

Thanks in advance.

[2015-09-04 05:11] 3lvis commented on #455
Hi Hector, you would have to either provide different JSONs for each language that you are supporting or have a base JSON structure then in your app parse this JSON and modify the text using `NSLocalizedString`. I hope this was useful :)

Btw, any ideas on how we could make this better?

Best,

[2015-09-04 07:12] richardoti commented on #454
@zentraedi which way?Could you provide, how you solved this problem?

[2015-09-04 11:19] zentraedi commented on #454
Sure!

I have a simple Table View Controller embedded in a Navigation View Controller, a Bar Button Item provides a modal segue to a view controller for the form, i just set up everything in prepareForSegue, like this:

[code]

The modal view controller is a subclass of FORMViewController exposing an NSArray and a FORMLayout property. I override initWithJSON:andInitialValues:disabled: and then set

[2015-09-04 16:09] zentraedi commented on #455
I've sent a PR #456 with some modifications to support basic localization. Let me if there's anything missing...

Regards

[2015-09-04 23:46] jeffleeismyhero commented on #455
Since #456 has been merged in, can this be closed?

[2015-09-04 23:49] richardoti commented on #454
@zentraedi I don't think that it is a good idea as it leads to tight coupling of ViewControllers.
You may check my PR here: https://github.com/hyperoslo/Form/pull/457 , how to set up FORMViewController with storyboards. With this approach you can keep all FORM-related code at one place.

[2015-09-04 23:51] richardoti commented on #455
@jeffleeismyhero yep

[2015-09-04 23:51] #455 closed

[2015-09-05 22:57] zentraedi opened #458 "Dynamically update (add, edit, insert) values to select type field"
Hi everyone!

I have a select type field but haven't defined any values yet in the json file. I want to dynamically populate the field with values coming from Core Data (or a web service call). I'm using a popover in the form view controller that allows the user to add a client to the database should this client not exist, so on popover dismissal i want to reload the select field with the updated

[2015-09-05 23:26] richardoti commented on #458
Hi!
If I got it correctly, you're using this popover:
![3ca4e72c-4c4b-11e5-8c48-49b1c54b39d7](https://cloud.githubusercontent.com/assets/8013017/9701647/90d93ce0-5433-11e5-9d49-a33dba476bb7.png)
And one of the options is  "New user".

I may suggest few options here:
1. create new user with all the info on form submit, so you don't need to reload anything dynamically
2. Update `FORMField` of the `F

[2015-09-06 01:12] zentraedi commented on #458
Actually i'm using a custom popover with a FORMViewController and it works as expected.

![screen shot 2015-09-05 at 20 31 21](https://cloud.githubusercontent.com/assets/1830701/9701903/820b82de-540d-11e5-8fb6-02f049ce52ba.png)

![screen shot 2015-09-05 at 20 35 35](https://cloud.githubusercontent.com/assets/1830701/9701913/6ab10c16-540e-11e5-9705-26c03a2a64e2.png)

What i want to achieve is to up

[2015-09-06 04:36] 3lvis commented on #458
Have you tried a combination of [`fieldWithID: includingHiddenFields:completion:`](https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L202-L205), adding values to the field, finally using [`reloadFieldsAtIndexPaths:`](https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L237-L241) with the returned indexPaths in the first method?

[2015-09-06 14:09] zentraedi commented on #458
Thanks @3lvis, it worked. Problem was that i was using ```setValues:``` with a plain ```NSDictionary``` when a ```FORMFieldValue``` is needed.

I can verify that it also works without using ```reloadFieldsAtIndexPaths:```, just getting the strong pointer to the field and then setting the values.

Best,

[2015-09-06 14:27] 3lvis commented on #458
Nice to hear that you got it working :)

[2015-09-06 14:29] #458 closed

[2015-09-08 02:35] s2892 opened #459 "Demos - Pods Installation error"
I try to run the demo project
when i try:

i have an error

[!] Unable to find a specification for `NSDictionary-HYPNestedAttributes (~> 0.4.1)` depended upon by `Form

the same is happend when i try install demos via

how to fix this problem ?
Thank you for help

[2015-09-08 05:22] 3lvis commented on #459
Hi @s2892,

Would you mind trying with the `source` on top of your Podfile? Something like this:

[code]

[2015-09-08 06:08] s2892 commented on #459
i try:
[code]
the responds is the same:
[code]
I have updated pod to the newest version i downloaded the git again. the same error. :(

[2015-09-08 07:52] 3lvis commented on #459
@s2892 Looks like this is a CocoaPods bug. Please take a look at this tread.

https://github.com/CocoaPods/CocoaPods/issues/2543

Maybe using something like

[code]

Could fix your issue. I tried this search on Google too => http://lmgtfy.com/?q=%22%5B!%5D+Unable+to+find+a+specification+for%22

Good luck :)

[2015-09-08 07:52] #459 closed

[2015-09-08 10:29] richardoti commented on #459
Yep, I confirm that it is cocoapod bug.
Using v 0.38.2 - fails
if I use 0.37.2 - works OK

[2015-09-08 10:43] s2892 commented on #459
yes. I pushed examples to work
thank you :+1:

[2015-09-24 10:28] 3lvis opened #463 "FORMBackgroundView doesn't respect UI_APPEARANCE_SELECTOR"
I guess is because is the only class that uses `drawRect:` to set the background.

[2015-09-24 10:28] 3lvis commented on #463
Current workaround is to put the custom color in the JSON.

[2015-09-24 12:26] 3lvis opened #464 "Rewrite FORMFormatter to be a protocol "Formatable?""

[2015-09-27 21:22] richardoti commented on #452
After a bit of debugging this seems to be not so easy UI-wise, as there might be different header heights, so it would not look good with standard solution (1st screenshot).

[2015-09-27 22:07] 3lvis commented on #452
@richardoti can you sketch what you had in mind? I remember showing you the Slack for iOS semi-modal screen. We could do something like that.

[2015-09-28 04:08] richardoti commented on #452
@3lvis what I tried to replicate is top screenshot exactly (on iPad) and default iPhone modal screen with "Done" / "Cancel" butons pair on top.
Like this:
![simulator screen shot 28 sep 2015 06 07 41](https://cloud.githubusercontent.com/assets/8013017/10127737/4d295ad6-65a7-11e5-9b65-411f443f70ec.png)

Seems that I've even used the same dialog on both of the screenshots, which proves how the Popov

[2015-09-28 05:52] 3lvis commented on #452
@richardoti You can have the navigation bar display only the "Contract Type" title. Then as UITableViewHeader have the rest of the text.

![sketch](https://cloud.githubusercontent.com/assets/1088217/10128668/baa9ec84-65b5-11e5-82c3-a8497306aed2.png)

[2015-09-28 06:54] #464 closed

[2015-09-28 06:55] 3lvis commented on #464
No longer needed.

[2015-09-28 19:13] annehiro opened #472 "Easier way to create forms"
I am just beginning to use Form. The UI looks amazing but the way to create forms is extremely low level and hands on. I understand this comes with the flexibility Form provides but how come there is no API, in addition to the JSON way, to create forms?

I think I will write my own. Am I the only one who sees a need for this or should I write it with the possibility in mind that it will be include

[2015-09-28 19:19] #472 closed

[2015-09-28 19:52] 3lvis commented on #472
Hey @annehiro,

I hope you figure it out :) We're working on improving the docs. Let us know if we can help with anything/

[2015-09-28 22:51] annehiro opened #474 "Can we have toggle"
A drop down for Yes and No doesn't seem like the best UX.

[2015-09-28 23:12] annehiro commented on #474
Or is there any way I can replace the textField with a UISwitch?

[2015-09-28 23:41] annehiro commented on #474
Ah, custom field.

[2015-09-28 23:41] #474 closed

[2015-09-29 02:14] annehiro opened #475 "Crash on orientation change"
I have Storyboard->UIViewController->Container View. The Container View is pinned to the corners of UIViewController's view in Storyboard and AutoLayout is enabled. I programmatically instantiate a subclass of FORMViewController, move it to parent VC, and then add its view to the container view.

On orientation change, it hits the first abort in fieldsAtSection:section.

[2015-09-29 02:17] #475 closed

[2015-09-29 04:08] 3lvis commented on #474
@annehiro I'll make an issue for the toggle, great feature request!

[2015-09-29 04:08] 3lvis opened #476 "Toggle for Yes/No fields"
https://github.com/hyperoslo/Form/issues/474

[2015-09-29 04:08] 3lvis commented on #475
There's a storyboards demo, it might help you to find some clues.

https://github.com/hyperoslo/Form/tree/master/Demos/iPhone-Storyboard

[2015-09-29 06:15] richardoti commented on #475
@annehiro would like to check the full stack trace. If I am correct, you're using method:
`addChildViewController` ?

[2015-09-29 19:51] annehiro commented on #475
Hey thanks for the quick response. I just had to declare the subclass of FORMViewController as a class variable instead of defining it inside a method. Its working now.

[2015-09-29 20:11] 3lvis commented on #475
:tada:

[2015-10-07 18:59] annehiro opened #477 "How to add selector to button type"
Is it possible to do this?

[2015-10-07 19:37] 3lvis commented on #477
Hi @annehiro,

Should be quite simple using the FORMDataSource's `FORMFieldFieldUpdatedBlock`.

[code]

[code]

Find the complete example in the Payment Demo. https://github.com/hyperoslo/Form/tree/master/Demos/Payment

Best,

[2015-10-07 19:37] #477 closed

[2015-10-07 21:21] annehiro commented on #477
Works like a charm. Thanks you :smile:

[2015-10-08 23:04] annehiro opened #478 "Programmatically insert from template"
Is this possible? Or do I need to create the section and hide/show it instead?

[2015-10-08 23:58] 3lvis commented on #478
@annehiro At the moment there isn't a build-in way to call the insert method but you can use a workaround. I'll add a task for your request so we can considerate it for a future update. This is taken from the unit tests code => https://github.com/hyperoslo/Form/blob/master/Tests/Tests/FORMDataSourceTests.m#L271-L303

Right you you can create a category on FORMDataSource:

[code]

[code]

[2015-10-08 23:58] #478 closed

[2015-10-09 00:22] annehiro commented on #478
Thank you once more :smiley:

[2015-10-09 06:57] 3lvis commented on #478
@annehiro You're welcome! Sorry that this isn't more clear.

[2015-10-12 13:04] richardoti commented on #452
Interesting concept, I will try to implement it.

[2015-10-14 07:38] richardoti opened #480 ""Cancel" button removes date value from the field"
Steps to reproduce:
1 Open FORM (Basic-ObjC demo), select any date field
![screen shot 2015-10-14 at 09 34 52](https://cloud.githubusercontent.com/assets/8013017/10477592/a0a21a42-7257-11e5-8cc0-f90cb5f28c83.png)

2  Tap "Cancel"

![screen shot 2015-10-14 at 09 34 59](https://cloud.githubusercontent.com/assets/8013017/10477519/138a66a0-7257-11e5-86dc-b1bdbfc8ef26.png)

The field becomes empty, whi

[2015-10-14 07:40] 3lvis commented on #480
It the field had a date before you opened the date picker then cancel shouldn't do anything.

If the field was empty before you opened the date picker THEN if you press cancel, it should go blank.

[2015-10-14 07:42] richardoti commented on #480
@3lvis that totally makes sense to me, i.e. "Cancel" should not affect the field at all, but just dismiss the popover.

I mark this as a bug and will fix in my PR.

[2015-10-14 07:43] 3lvis commented on #480
That's not correct, "Cancel" just cancels any chance that you've done to the field. Otherwise it would be called "Dismiss" but we don't need a dismiss button on the iPad since you can tap outside of the popover to dismiss.

[2015-10-19 19:18] jeffreyjackson opened #481 "toolbar incorrect position with hardware keyboard"

[2015-10-19 19:18] 3lvis commented on #481
@jeffreyjackson I saw this in the simulator, it also happens on device?

[2015-10-20 08:01] 3lvis commented on #481
@jeffreyjackson :)

[2015-10-28 16:59] aminiz opened #482 "How to hide group title"
Is this possible?

[2015-10-28 18:15] 3lvis commented on #482
In your style make the header transparent.

[code]

We have an example that does this. Check [Payment Demo](https://github.com/hyperoslo/Form/tree/master/Demos/Payment).

![simulator screen shot 28 oct 2015 19 12 11](https://cloud.githubusercontent.com/assets/1088217/10798419/d46a4344-7da7-11e5-85b6-80df75cd5209.png)

I hope this fixes your issue, otherwise feel free to reopen this issue.

Have a

[2015-10-28 22:31] annehiro commented on #482
Thank you! SO did not answer so I had to ask here.

I assume it is not possible to set headerView transparent just of a single group?

[2015-10-28 22:37] 3lvis commented on #482
@annehiro It's not possible to make it transparent but you can make it the same color as your background color.

[code]

[2015-10-28 22:55] jeffleeismyhero commented on #482
The styling relies on `+ (UIColor *)colorFromHex:(NSString *)hexString` provided from https://github.com/3lvis/Hex

If transparency support was added there, we could support it pretty easily in Form. I've seen that done with a fourth pair of hex values. Example `#FF000050` for a Red background with 50% opacity.

[2015-10-29 02:44] annehiro commented on #482
http://stackoverflow.com/questions/33377387/hide-group-title-in-form-by-hyperoslo

[2015-10-29 16:58] 3lvis commented on #482
@annehiro Hi, I was wrong, you can just send any invalid HEX value to `background_color` and it will make it transparent, for example use `clearcolor`.

[code]

[2015-11-04 13:49] 3lvis commented on #481
@jeffreyjackson

[2015-11-04 13:49] 3lvis commented on #481
@jeffreyjackson I saw this in the simulator, it also happens on device?

[2015-11-04 20:09] 3lvis commented on #481
Closed since there wasn't a reply.

[2015-11-04 20:09] #481 closed

[2015-11-04 20:12] #440 closed

[2015-11-04 20:34] 3lvis commented on #434
We could do something like we do with fields. A method that takes a boolean to consider or exclude hidden values.

https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L193-L194

[code]

[2015-11-17 04:10] ehirebrandon opened #486 "appDelegate and initCoder"
Everything seems to be have to work through app delegate what if I want to use View controller. I've try so many ways, I can't subclass without an error and have it running.

[2015-11-17 07:02] 3lvis commented on #486
@ehirebrandon could you share the error with us? This should work. Are you using storyboards? There's a sample project on how to do this.

https://github.com/hyperoslo/Form/tree/master/iPhone-Storyboard

[2015-11-17 17:45] ehirebrandon commented on #486
Hi,

Yes I am trying to use storyboard. What I try to do is subclass (let's say
like a sampleViewController that subclass from FORMViewController). Then in
my view controller I try to present the an instance of the
sampleViewController however it does not work. It seems like the only way
is to go through app delegate to present the form, which works. However I
have multiple view controller that is

[2015-11-17 21:04] 3lvis commented on #486
@ehirebrandon Here it is the demo, there's an issue with the layout's delegate, I'm not experienced on storyboards, hopefully you'll be able to fix it :)

https://github.com/hyperoslo/Form/pull/487

[2015-11-17 21:04] #486 closed

[2015-11-18 05:40] 3lvis commented on #448
https://github.com/hyperoslo/Form/pull/487

[2015-11-19 09:37] 3lvis commented on #486
@ehirebrandon https://github.com/hyperoslo/Form/tree/master/ModalForm

Here's how you do it. https://github.com/hyperoslo/Form/blob/master/ModalForm/ViewController.swift#L6-L7

You don't need to hook up anything on Interface Builder.

Make sure you apply the default style https://github.com/hyperoslo/Form/blob/master/ModalForm/AppDelegate.swift#L11

[2015-11-19 09:39] 3lvis commented on #448
I gave it a try and the solution is so ugly. We would have to make some private properties public. This makes Form less immutable and more prone to errors. There's no reason why you couldn't keep using Storyboards or Interface builder and at the same time use Form programatically.

Example: https://github.com/hyperoslo/Form/blob/master/ModalForm/ViewController.swift#L6-L7

Full project: https://gi

[2015-11-19 09:39] #448 closed

[2015-12-09 19:16] RyanKim01 opened #489 "Accessing each textfield and saving data"
Hi
I came across this awesome api and just loving this.
I am sorry if my issues are a duplicate.

I was wondering if there is a way to access individual textfield in the Form. Let's say there is a field "Age" and I input "10". I want to access this data so I can transfer this data to other place. In other words, I would like to access individual textfield and get value from them.

One more thing a

[2015-12-10 22:57] 3lvis commented on #489
Hi @RyanKim01,

Almost everything in Form is done through the FORMDataSource, you can find more setup information on the several examples that we have. Try this command in your terminal to get them:

[code]

I added a FAQ section with answers to some of the questions that you have asked. I hope this helps you. Otherwise let me know and I'll reopen this issue.

https://github.com/hyperoslo/Form#faq

[2015-12-10 22:57] #489 closed

[2015-12-11 21:06] RyanKim01 commented on #489
@3lvis, thank you so much for your response. I wonder one more thing that if there's any way I can save data in JSON format instead of dictionary format. I checked out values in datasource.values and they were in a dictionary format.

[2015-12-11 22:01] 3lvis commented on #489
@RyanKim01 Not out of the box. You might find a good way to convert a dictionary into a JSON :)

Best,

[2015-12-11 23:46] RyanKim01 commented on #489
Thank you Elvis. Appreciate your time and answer!

[2015-12-12 07:53] 3lvis commented on #489
@RyanKim01 my pleasure :bouquet:

[2015-12-17 22:49] RyanKim01 opened #490 "Adding sub-heading feature"
Hi
When I'm building my survery form I realized I need sub-headings if possible.
![screen shot 2015-12-17 at 2 50 00 pm](https://cloud.githubusercontent.com/assets/10735853/11884287/7c4c32ba-a4cd-11e5-8e5a-909566c1ddaa.png)

For example, "Part1. Petitioner Information" is a heading
and (1) (legal name of individual petitioner) is sub-heading. And Family name, Given name, Middle name are different

[2015-12-18 03:26] jeffleeismyhero commented on #490
At one point I was looking to do something similar. My recommendation would be to create a custom form element. That process is outlined here: https://github.com/hyperoslo/Form/pull/8

[2015-12-18 06:04] RyanKim01 commented on #490
@jeffleeismyhero , I'm currently taking a look at custom field class. https://github.com/hyperoslo/Form/blob/master/CustomField/CustomField.swift
So I completely took out textview but it still leaves the big chunk of space. Can you guess why this is happening? I literally just commented out "self.addSubview(self.textView)"

![screen shot 2015-12-17 at 10 04 07 pm](https://cloud.githubusercontent.c

[2015-12-18 08:50] 3lvis commented on #490
@RyanKim01 The blank space is where you are supposed to add your content.

[2015-12-18 08:54] 3lvis commented on #490
I think maybe we could add a new field to form to handle this cases, it will be a UITextView, it will allow HTML and internally that HTML will translate to NSAttributedStrings.

At the moment I don't have enough time to do the change, but feel free to add this if you're interested :heart:

A workaround would be to do what @jeffleeismyhero mentioned. From what I see you are in the right steps.

[2015-12-18 10:19] RyanKim01 commented on #490
@3lvis I will definitely look into it and will write here again if I can get to tackle it successfully :)
But for now, I will go with a way as @jeffleeismyhero  mentioned.
1. In CustomField class, I deleted ""self.addSubview(self.textView)"".
2. In forms.json file, I changed the height of "textye" from 2 to 0.3.
{
                    "id":"textye",
                    "type":"textye",

[2015-12-18 10:28] 3lvis commented on #490
The line gets added at the end of each section. It's a section separator.

https://github.com/hyperoslo/Form/blob/master/Source/FORMSeparatorView.h

[2015-12-18 14:44] jeffleeismyhero commented on #490
You can also style that specific instance of the separator from the JSON file by setting `separator_color`.

@3lvis did the transparency addition to Hex get pulled in here as well? If so, you should be able to use `@"FFFFFF00"` to make the separator transparent. This would help in cases of a textured background or where an image is used for the background.

[2015-12-18 14:46] 3lvis commented on #490
@jeffleeismyhero yep, current version of Form is using [Hex 3.0.0](https://github.com/3lvis/Hex).

[2015-12-18 20:04] RyanKim01 commented on #490
Thank you guys for helping me out! @jeffleeismyhero  I do not know why but adding "separator_color":"#FFFFFF" did not change the color. So I just added the method what @3lvis  mentioned above in CustomField class and it worked.

[2015-12-18 20:04] #490 closed

[2015-12-18 20:27] 3lvis commented on #490
@RyanKim01 I'm glad you made it work, have a great weekend!

[2015-12-18 20:45] RyanKim01 opened #491 "Changing number of lines in headingLabel"
I am having an issue with fitting long sentence in a heading label.
Since headinglabel is subclass of UILabel, I was manipulating it with UILabel's properties.
In Overried init method in CustomField class, I inserted
         self.headingLabel.text = "Custom FieldCustom FieldCustom FieldCustom FieldCustom FieldCustom FieldCustom FieldCustom FieldCustom FieldCustom FieldCustom FieldCustom FieldCust

[2015-12-18 21:25] 3lvis commented on #491
By default this one is one line and it's not customizable :cry:

[2015-12-18 21:28] RyanKim01 commented on #491
@3lvis Oh bummer. If I'm trying to input multiple lines of instructions to fill out the form, then should I just add multiple one-line sentences? Would changing this setting impact the layout significantly?

[2015-12-18 21:57] RyanKim01 commented on #313
@3lvis , Do you mind letting me know how this is going? I'm ultimately looking for a way to either put a check mark on the group title or change color of text on the group title so I can inform users they are done with this section. This feature is exactly what I'm looking for so I'm wondering if there is any progress in this :)

[2015-12-18 22:00] 3lvis commented on #313
@RyanKim01 Hi! This is just a decoration arrow, might not help in what you're looking for. But you have a great use case! We should definitely consider supporting something like that.

[2015-12-18 22:26] 3lvis commented on #491
I added an example on how you could achieve what you want. https://github.com/hyperoslo/Form/pull/492

[2015-12-18 22:26] #491 closed

[2015-12-18 23:42] RyanKim01 commented on #491
@3lvis Thank you!

[2015-12-18 23:44] RyanKim01 commented on #313
@3lvis oops. I totally read this wrong lol Can you think of any way which can make either one possible depends on validation state in textfields now? Or do you think this is something needs to be more discussed and implemented.

[2015-12-20 17:19] costantino78 opened #493 "Problem when keyboard hides"
Hi.
In my app I have a ViewController hooked to a controller in soryboard that loads the form as follows:

    override func viewDidLoad() {
        super.viewDidLoad()
        let formController = SampleCollectionViewController()
        addChildViewController(formController)
        //formController.view.frame = self.view.bounds
        self.view.addSubview(formController.view)
    }

where Samp

[2015-12-20 23:17] 3lvis commented on #493
Hi @costantino78, I'm sorry I can't be helpful, this doesn't seem to be a Form bug, but more a UIKit/ViewController containment bug.

[2015-12-21 08:24] #493 closed

[2015-12-21 16:43] richardoti commented on #493
@costantino78
[code]

[2015-12-30 00:32] RyanKim01 opened #494 "Changing width/height of "select" type"
Hi,

My popover for "select" type contains a long sentence. Thus, the popover does not show full sentence.
(1) Is there a way to manipulate the width of it?

<img width="248" alt="screen shot 2015-12-29 at 4 31 51 pm" src="https://cloud.githubusercontent.com/assets/10735853/12044627/b242a1ee-ae49-11e5-8a2f-9934b34a69eb.png">

As you can see from the image, it only shows small portion of a sentence

[2015-12-30 18:16] 3lvis commented on #494
Hi @RyanKim01, I guess we could have done dynamic height instead of fixed height on those cells. It wasn't a requirement for us at that moment.

Feel free to add this change.

Best,

[2015-12-31 09:38] RyanKim01 commented on #494
@3lvis , I was looking into it and faced some problems.
In FORMFieldValuesTableViewController.m, I see tableview row height is fixed as 44. self.tableView.rowHeight = 44.
(1) I think I first need to come up with a way to show a long sentence in multiple lines. I confirmed that only one line is shown in popover even if row height is increased. However, I could not find where I could modify this.
(2

[2015-12-31 09:49] 3lvis commented on #494
You can use:

[code]

To set the height of the cell. Then you can use something like this to get the height of text.

[code]

Finally you can change the `numberOfLines` attribute on a UILabel to say how many lines the cell should have, this can be dynamic too, if you know the height of one line.

There might be better ways but that's what comes to my mind right now.

[2015-12-31 18:46] RyanKim01 opened #495 "Getting rid of white gap area"
Please look at this image first.
<img width="356" alt="screen shot 2015-12-31 at 10 43 45 am" src="https://cloud.githubusercontent.com/assets/10735853/12067248/79d012de-afab-11e5-8c84-2ae48d82b5bf.png">
As you can see, there is a big white gap between my customfield and select type. I was trying a lot to get rid of it, but I could not figure out.

Here is a json format:
![screen shot 2015-12-31 at

[2016-01-01 17:35] 3lvis commented on #495
Like this https://github.com/hyperoslo/Form/pull/497 ?

[2016-01-01 17:35] #495 closed

[2016-01-01 23:06] RyanKim01 commented on #495
Feels bad that I could not figure that out :/ thank you always @3lvis !

[2016-01-02 00:09] RyanKim01 opened #498 "Custom cells leaving small mark of separator line"
In my form, I would like to keep the default separator line. However, I do not want it for my custom fields.
I have a custom fields which only has a textview.

Here is an issue I'm having (you can see small line of separator on the sides):
<img width="569" alt="screen shot 2016-01-01 at 4 00 38 pm" src="https://cloud.githubusercontent.com/assets/10735853/12072680/a8306c9a-b0a1-11e5-8b4e-a6f418f01a

[2016-01-02 00:21] 3lvis commented on #498
Are you using Form — 3.8.0?

[2016-01-02 00:32] RyanKim01 commented on #498
@3lvis Didn't know a new version was out. Just did pod update and it works fine. Closing this issue. Thank you!

[2016-01-02 00:32] #498 closed

[2016-01-02 00:35] 3lvis commented on #498
Woho! :tada:

[2016-01-02 10:51] 3lvis opened #499 "Add support for making more complex fields"
<img width="994" alt="f0cc6542-b0d5-11e5-8312-5a1210d09d92" src="https://cloud.githubusercontent.com/assets/1088217/12074185/e56d41e6-b146-11e5-8020-7d2698271e6b.png">

This could be achieved by:

- [ ] Having a field that only displays text
- [ ] Adding support for removing the title from fields

[2016-01-02 10:51] 3lvis commented on #499
First seen in https://github.com/hyperoslo/Form/pull/497#issuecomment-168367628

[2016-01-06 08:47] RyanKim01 opened #501 "Main thread being blocked occasionally"
Has anyone experienced a main thread being blocked?
This does not happen every time but it happens quite a lot.

Problem: When the form is being initialized, I touch one of textfields right away to type things in it.
Keyboard does not come up and screen(main thread) is frozen for about 5 seconds and keyboard pops up.

Did anyone notice this?

[2016-01-06 09:03] 3lvis commented on #501
Weird. Are you been able to reproduce this in on of the provided Demos? Or it only happens in your project?

[2016-01-06 19:15] RyanKim01 commented on #501
I've just tried with Swift demo in Demo file and could reproduce it. As soon as demo runs, I tap "read-only" button to enable datasource and tap Bonus textfield. It stops around 5 seconds and a keyboard pops up.

I'm running the Demo file on my device, iPad Air.

[2016-01-07 00:57] 3lvis commented on #501
I'll have a look, thanks! :grin:

[2016-01-08 02:02] RyanKim01 commented on #501
@3lvis No problem. One more thing I found is that this is reproducible only when the app is first installed in the device. If I close the app and reopen it, I won't have that problem. Maybe installing process in the device is causing this block? I'm not sure.

[2016-01-08 23:23] RyanKim01 opened #502 "Biography field not recognized in datasource / manipulating number of fields"
I have two issues. It would be great if you can quickly look over those, @3lvis .

(1) I made a custom field which is a subclass of BiographyCustomField class. I constructed it as same as one in demo. https://github.com/hyperoslo/Form/blob/db3769818dca71edd7d06d533f4e67a730c8ac45/CustomField/BiographyField.swift

The problem I'm facing is that Biography type of fields are not recognized in self.da

[2016-01-09 03:40] 3lvis commented on #502
1.- This works as expected. Only "native" fields are returned on `self.dataSource.values`, for custom values you have to manage their data by your own. In the demo, you could use `BiographyFieldDelegate` and store changes every time the biography field gets changed.

2.- `self.dataSource.numberOfFields` will return all the fields. The only way to get the fields that you want might be querying the

[2016-01-09 03:40] #502 closed

[2016-01-10 00:19] RyanKim01 commented on #502
@3lvis , I have further questions to ask you!
1. I've successfully implemented what you said and it works. Right now, I'm persisting my data in a dictionary called "initialValues" and call that dictionary when I'm initializing a Form ViewController. However, it does not input the value as it does for other fields.

here is a json configuration:
{
                                       "id": "part5

[2016-01-10 00:31] 3lvis commented on #502
Initial values also doesn't work with custom fields. You have to do it by yourself. You can probably do that using the callback

https://github.com/hyperoslo/Form/blob/master/Source/FORMDataSource.h#L27-L29

[code]

When `field.fieldID == part5_biography` you can use the `indexPath` to get the cell, and update the value of your `textView`.

[2016-01-10 00:32] 3lvis commented on #502
I will try to take in account initial values and `self.dataSource.values` when improving support for custom fields in the future, sorry that you have to do so much manually this days.

[2016-01-10 01:28] RyanKim01 commented on #502
@3lvis , Sorry for bombarding you with questions haha. And no worries!

1. The way I'm configuring biographyfields are like below:
 for item in self.BiographyCustomFieldArray {
                if field.type == .Custom && field.typeString == item {
                    BiographyCustomField.CellIdentifier = item
                    let cell = collectionView.dequeueReusableCellWithReuseIdentifier(item

[2016-01-10 10:00] 3lvis commented on #502
@RyanKim01 self.dataSource.sectionWithID("section-id")

[2016-01-10 23:44] RyanKim01 commented on #502
@3lvis Can you think of any way I can access the fieldID of Biography custom field in the delegate? I can successfully retrieve the value(text) I input in the biography custom field but I cannot figure out how to retrieve the fieldID of the custom field I'm writing on.

[2016-01-11 21:26] RyanKim01 commented on #494
@3lvis , Just made a pull request on this issue.

[2016-01-12 01:06] RyanKim01 commented on #499
@3lvis  Do you think making a title of a field multiline would solve this problem?
Plus, is it possible to make textfield in FORMField make multilines so it looks like Biography custom field?

[2016-01-12 02:05] #494 closed

[2016-01-12 08:41] 3lvis commented on #499
None of this ones are supported in Form at the moment. But adding them shouldn't be that complicated.

[2016-01-12 08:42] 3lvis commented on #499
Making the title multiline could work. The only issue is that adding support for resizable titles is going to be a bit more challenging. Also it wouldn't allow the type of Form that we have here. Where it has checkboxes and a text field.

[2016-01-13 02:44] RyanKim01 opened #504 "Frame mismatch issue"
When I'm instantiating my FORMViewController, it prints out below error in the console:
Logging only once for UICollectionViewFlowLayout cache mismatched frame
UICollectionViewFlowLayout has cached frame mismatch for index path <NSIndexPath: 0xc000000000000316> {length = 2, path = 3 - 0} - cached value: {{15, 681.5}, {369, 85}}; expected value: {{199.5, 681.5}, {369, 85}}
This is likely occurring

[2016-01-13 07:17] RyanKim01 opened #505 "Target function bug"
I found 2 bugs so far related to target function in Form.

Issue (1)
I have a json code like below:
[code]
When I first implemented in my app, it didn't work from the beginning. It doesn't hide or show id ("4_3_yes_question"). I deleted this code and reimplemented and found no change. Weird thing is that this happens on certain field and works on other fields. Cannot really find out what is causin

[2016-02-02 18:43] aminiz opened #507 "Reducing FORMFieldCellItemHeight"
Our app has rather large forms and we want to fit everything on one screen without making the user scroll. Is there a reason this height is fixed at 85px?

[2016-02-02 21:39] 3lvis commented on #507
Hi @aminiz,

It's because our initial design required this. At the moment we don't have a way to reduce the height of this one without significant refactoring.

I'm sorry.

[2016-02-02 21:39] #507 closed

[2016-02-05 16:15] uzegonemad opened #508 "How do I show/hide fields in a dynamic section?"
I can't seem to figure out how to show/hide child fields inside a dynamic section.

I've tried using `parent[:index].child` but it causes a crash. I also tried `parent.child` thinking it might not require an index, but it also crashes.

My sample JSON is below. When "targeted sales funnel" is no, both the + field and all of the "year" rows should disappear. Currently, only the + field disappears.

[2016-02-09 00:53] 3lvis commented on #508
Hi @uzegonemad,

I'm sorry for not replying earlier, hard week at work. Will have a look at your issue later this week.

[2016-02-26 21:38] DataGlance opened #509 "Keyboard type"
Would it be possible to default Keyboard type to Number Pad for some field types like _number_ and _count_?

[2016-02-29 08:28] 3lvis commented on #509
Hi @DataGlance, Although that's probably not going to work on iPad since you don't have a Number Pad there.

[2016-02-29 17:13] DataGlance commented on #509
That is correct but UIKeyboardTypeNumberPad is designed for numeric entry on the iPad too. The regular keyboard will not have the number keys at the top row.

[2016-02-29 17:27] jeffleeismyhero commented on #509
Ideally, the keyboard could be adjusted via JSON parameters. That way, you could set any of the fields to whatever keyboard was appropriate.

@3lvis: If this is something that you'd merge in, I can add it and submit a PR.

[2016-03-01 08:20] 3lvis commented on #509
I think would be better to as @DataGlance mentioned, ensure that `number` and `count` show the right keyboard type.

[2016-03-03 19:48] aminiz opened #510 "UICollectionViewFlowLayout issue"
When I tap a textField in the form for the first time, it takes a very long time for it to activate. Basic-Swift project logs the following output:

2016-03-03 11:44:47.937 Basic-Swift[4217:2001502] Logging only once for UICollectionViewFlowLayout cache mismatched frame
2016-03-03 11:44:47.939 Basic-Swift[4217:2001502] UICollectionViewFlowLayout has cached frame mismatch for index path <NSIndexPat

[2016-03-04 02:02] aminiz opened #511 "FORMFieldTypeFloat with range"
I would like to limit its value to the range [0, 99.99]. Currently, I can only think of creating a custom cell that looks exactly like a text cell. Is there any other way to do this?

 Before adopting Form in my app, I was using the following function to enforce this.

[code]

[2016-03-04 13:28] 3lvis commented on #511
Hi @aminiz,

You could use `min_value` and `max_value` for this.

https://github.com/hyperoslo/Form/blob/d426e7b090fee7a630d1208b87c63a85b6aaf5df/Demos/Basic-ObjC/Basic-ObjC/Assets/forms.json#L19-L22

If you can't figure out how to do it, I'll dig up an example for you :)

[2016-03-04 13:28] #511 closed

[2016-03-04 13:31] 3lvis commented on #510
Hi @aminiz,

I was able to verify this. It happens also in the Basic-ObjC demo. I'll check what's going on.

[2016-03-04 13:37] 3lvis commented on #510
Hi @aminiz,

Looks like the delay only happens in debug mode. If you install the app, disconnect your iPad/iPhone, kill the app, then open it. Then you don't see the delay.

Somewhat related StackOverflow issue: http://stackoverflow.com/questions/9357026/super-slow-lag-delay-on-initial-keyboard-animation-of-uitextfield

Let me know if you have a different behavior.

Thanks :heart_decoration:

[2016-03-04 13:37] #510 closed

[2016-03-04 18:02] aminiz opened #512 "FORMFloatInputValidator floatSet"
Should we not be using a dot as the decimal point instead of comma?
I am referring to the line
`    NSCharacterSet *floatSet = [NSCharacterSet characterSetWithCharactersInString:@"1234567890,"];`

[2016-03-08 07:47] 3lvis commented on #512
Hi @aminiz,

This is our fault, we were using the norwegian locale for this element. That's why we used `,` as decimal separator but I understand you would like to use `.` instead.

Do you have a suggestion on how we could improve this?

Thanks <#

[2016-03-10 18:53] aminiz commented on #482
@3lvis This is actually setting the form background color. The FORMGroupHeaderView background color is unchanged.

[2016-04-13 18:48] aminiz commented on #482
Follow up on this. What I would like to do is completely hide the group header in some cases. I can use `[[FORMGroupHeaderView appearance] setHeaderBackgroundColor:[UIColor clearColor]]` as you suggested but this leaves me with two issues.

1. In `FORMBackgroundView.m`, the `drawRect` method is drawing the corner radius as 5.0 for bottom left and bottom right corners. This leaves the top corners w

[2016-04-13 23:52] aminiz opened #514 "Auto show keyboard"
Is there a simple way to automatically select the first text field on viewDidAppear? I also want to change the Done button to Next and jump from one text field to the next that way. I have been digging through FORM code but cannot figure it out. Thanks!

[2016-04-22 03:54] n8stowell82 opened #515 "Carthage support?"
Hi I have an obj-c project that I am working on updating to swift.  however in the meantime, I have some pods that are really not playing nice with the `use_frameworks!` flag.  Obviously your project requires this, but is causing serious compiler errors when enabling frameworks in cocoa pods.  I am now trying to switch new swift related dependencies to use carthage so that I can minimize the effec

[2016-04-22 07:28] 3lvis commented on #515
Hi Nathan,

I would love to add Carthage support for this. I'm going to figure out the best way to do it, since it's quite some work.

Btw, how did you figured out that the `Hex` dependency is the only one that could be removed before you can remove `use_frameworks`?

[2016-04-22 07:55] 3lvis commented on #515
Hi Nathan,

I tried removing the Hex dependency and building without using `use_frameworks!` turns out it needs a few more changes than that, and it also breaks Swift projects.

In the meantime you can do

[code]

[2016-04-22 07:55] #515 closed

[2016-04-22 08:03] 3lvis commented on #514
Hi @aminiz,

You could keep a reference to the first cell, in the `FORMConfigureCellBlock`. Then in view did appear you could find the `textField` and use `becomeFirstResponder`.

Regarding jumping to the next field it will need some work in the internals of Form. Feel free to submit a PR with this feature <3

[2016-04-22 08:03] #514 closed

[2016-04-22 14:44] n8stowell82 commented on #515
@3lvis wow thank you so much for the quick response!  To be honest I narrowed in on Hex as it is what cocoapods yells at me for when I try to install without having use_frameworks! enabled.  I will give the new branch a shot and I hope that works short term.   I think the better solution is of course carthage support.  it lets me sidestep all of this `use_frameworks!` nonsense.  I am starting to s

[2016-04-22 15:03] 3lvis commented on #515
I would love to have Carthage support but it's a lot of work, since we will have to update each dependency to have Carthage standards. If you have time feel free to try! <3

[2016-04-22 15:06] n8stowell82 commented on #515
absolutely! I will see what I can get done.  would I need to submit a pull request for each repo?

[2016-04-22 15:08] 3lvis commented on #515
@n8stowell82 yeah I started doing it in some repos but it's a lot of work.

Check https://github.com/3lvis/Networking for an example

[2016-04-22 18:14] aminiz opened #517 "Placeholder text in textfield"
Is it possible to pass a placeholder text to text field cell or should we create a custom cell that looks the same?

[2016-04-22 18:27] 3lvis commented on #517
I'm not sure if I get what you mean, did you meant having a way to set the placeholder to a textfield?

[2016-04-22 18:28] aminiz commented on #517
Correct. I would like to pass a placeholder text to formField of type text

[2016-04-22 19:06] #517 closed

[2016-04-22 19:18] 3lvis commented on #517
Available on [Form `3.10.0`](https://github.com/hyperoslo/Form/releases/tag/3.10.0)

[2016-05-03 17:29] aminiz opened #519 "How to know when a "select" type's value is picked"
I have two select type fields. The value of the second one changes depending on what value is selected for the first one. I am able to change the value for the second one but cannot tell when the value for the first is picked.

[2016-05-03 17:37] aminiz commented on #512
Ah right, there are iOS developers outside the US too. Hard to remember when you live in Silicon Valley.

Do you think we could use NSLocaleDecimalSeparator instead?

[2016-05-03 17:42] 3lvis commented on #512
@aminiz that could work too, would you mind giving it a try?

[2016-05-03 17:42] aminiz opened #520 "Automatically select a textField"
On viewDidAppear, I want to call becomeFirstResponder on the first FORMField (type text). Is this currently possible?

[2016-05-03 17:45] aminiz commented on #512
Yes, let me try (:

[2016-05-03 19:26] aminiz commented on #520
Let me clarify a little. I have a simple login form that allows the user to enter a username and password. When the form appears, I want to auto select `Username` textField and popup the keyboard. The keyboard `Return Key` should be set to `Next`. When the user presses `Next`, I want to select `Password` textField and change `Return Key` to `Go`. When the user presses `Go`, I want to call a method

[2016-05-11 16:49] aminiz commented on #512
Addressed in #521

[2016-05-11 16:49] #512 closed

[2016-05-11 16:51] aminiz commented on #54
Is this also addressed by #521

[2016-05-11 17:30] #54 closed

[2016-05-19 05:30] n8stowell82 opened #523 "Highly Customized UITextFields, is it possible?"
Hello, first off great work on this project.  This project works really well.  I have a question about implementing a custom field as a very highly customized UITextField.  In my project I have been using this very awesome set of textfields found here: [https://github.com/raulriera/TextFieldEffects](url) and specifically this style of textfield: [https://github.com/raulriera/TextFieldEffects/blob/

[2016-05-19 06:46] n8stowell82 commented on #523
Ok, so after rolling up my sleeves and getting to work I got this working...mostly.  I will post my code below for review but here are my two main problems right now

1. How do I retrieve values from the JSON object that should affect this field? i.e. the title of the field?
    a. `updateWithField(field: FORMField!)` does not seem to be getting called
2. Do I really need to implement every single

[2016-05-19 07:52] 3lvis commented on #523
Hi @n8stowell82,

Support for custom fields right now is very basic, custom fields aren't attached to the same validations than other fields, and don't receive the callbacks by default. I have considered several ways to make this work but is going to take some heavy work and rewrite of core parts of Form. Not that isn't going to make, is just that it will take a while to get it done.

I'll make a

[2016-05-19 14:51] n8stowell82 commented on #523
Thanks @3lvis for the response and the information.  I wanted to be clear that the code posted above does work. It renders the textField, with all the animations and everything seems to work well.  The things I need or would like to have would be the ability to retrieve data from the JSON object that builds the form.  For instance setting the placeholder of the textfield to the "title" object in t

[2016-05-22 21:43] 3lvis commented on #523
Hi Nathan,

I order to be able to have a text field be part of the FORMDataSource, it has to be one of the existing ones, right now there's no support to store the contents of your text field in the FORMDataSource that's why I was saying that might be easier to just include the animation inside Form.

[2016-05-24 21:14] 3lvis commented on #520
I'm sorry we haven't been more responsive to some issues. It's hard to keep up with this project since it has been in maintenance mode and not many new things are happening.

[2016-05-24 21:25] 3lvis commented on #323
This most likely be removed since it will be hard to maintain all the postal codes of the world. 💨

[2016-05-24 21:25] #323 closed

[2016-05-24 21:26] 3lvis commented on #273
We'll probably rewriting the models before this happens. Closing.

[2016-05-24 21:26] #273 closed

[2016-05-24 21:58] 3lvis commented on #313
I think the datasource would have to inform Form to update the decoration.

[2016-05-24 22:00] 3lvis commented on #416
This was fixed on https://github.com/hyperoslo/Form/issues/416

[2016-05-24 22:00] #416 closed

[2016-05-24 22:02] 3lvis commented on #419
Closing for lack of steps to reproduce.

[2016-05-24 22:02] #419 closed

[2016-05-24 22:24] jeffleeismyhero opened #524 "Reset to JSON defaults"
Presently, the `reset` method in FORMDataSource sets all values to nil. Do we have a way of resetting to the default values provided in the JSON?

[2016-05-24 22:30] 3lvis commented on #524
@jeffleeismyhero Hi Jeffrey, currently we don't have such functionality. As you can see, values are only introduced to the FORMData values dictionary and then they get forgotten. You could easily store this values for later usage and have a method like `restoreToInitialValues` or just `restore`.

[2016-05-24 22:32] 3lvis commented on #524
I remember we also stored the initial values in a dictionary and when the `Reset` button was pressed, we should send this values to `reloadWithDictionary`.

[2016-06-02 23:03] aminiz commented on #520
No worries Elvis. Thank you for creating this amazing library.
If you have some time, can you tell me your suggestion to accomplish this? I can do the implementation  myself. I might just need some guidance.

[2016-06-20 17:15] aminiz commented on #519
This is possible with fieldUpdatedBlock.

[2016-06-20 17:15] #519 closed

[2016-06-21 03:48] 3lvis commented on #519
❤️

[2016-06-22 09:34] ganjmeng opened #525 "Can't run this task...whit cocoapods error info..."
Can't run this task...whit cocoapods error info...
![image](https://cloud.githubusercontent.com/assets/12026835/16261791/893a8132-389f-11e6-82ba-c496cd4bb09e.png)

[2016-06-22 09:35] ganjmeng commented on #525
![image](https://cloud.githubusercontent.com/assets/12026835/16261812/a50a4f0a-389f-11e6-8c0f-7027e6c7aeae.png)

[2016-06-22 09:47] 3lvis commented on #525
@ganjmeng just do

[code]

Instead of

[code]

[2016-06-22 09:47] #525 closed

[2016-06-22 09:48] 3lvis commented on #524
I think this issue might be fixed, please @jeffleeismyhero scream if this is incorrect.

[2016-06-22 09:48] #524 closed

[2016-06-23 01:47] ganjmeng commented on #525
Thanks!

[2016-06-23 18:25] rene-dohan opened #526 "In demo when I change some project like basic to universal it looks like on image I attached , and this looks really bad."
So iPhone is not supported ?

![simulator screen shot 23 jun 2016 13 24 29](https://cloud.githubusercontent.com/assets/923610/16314949/da6e2d3c-3945-11e6-8215-5487e2db337d.png)

[2016-06-23 18:28] 3lvis commented on #526
@rene-dohan You have to specify and iPhone specific JSON file. Something [like this](https://github.com/hyperoslo/Form/blob/master/iPhone-Storyboard/Form.json), check the iPhone-Storyboard demo for more information,

[2016-06-23 18:28] #526 closed

[2016-06-23 18:31] rene-dohan commented on #526
So how you create universal application, best way ? Isn't that what most people do ? You have to put there if device type check and create two jsons ? Or I can just use iphone json on ipad ? It's not much clear ? It's mentioned somewhere in doc ?

[2016-06-23 18:37] 3lvis commented on #526
@rene-dohan We went for this approach since it gives the developers more control over the UI. You have to add a check for device and present the JSON file that matches the device.

I'll create a FAQ section in the README to document this, I'm sorry if this wasn't documented properly or it wasn't as obvious as I thought.

Let me know if I can help you with anything else :)

[2016-06-23 18:55] 3lvis commented on #526
https://github.com/hyperoslo/Form/pull/527

[2016-06-23 20:38] 3lvis commented on #523
Hi Nathan,

Were you able to fix this issue?

[2016-06-23 20:41] 3lvis commented on #520
You can find the FORMField using FORMDataSource, then find the cell for the FORMField, finally in the cell you'll find the FORMTextField, there you can ask to `becomeFirstResponder`.

[2016-06-23 20:41] #520 closed

[2016-06-23 20:59] 3lvis commented on #509
You have to set the `input_type` to `number` in the JSON file.

![simulator screen shot jun 23 2016 10 59 39 pm](https://cloud.githubusercontent.com/assets/1088217/16320058/2e397a52-3996-11e6-8e99-eda8de1feee2.png)

[2016-06-23 21:10] 3lvis commented on #509
I have changed the code to use the field type as input type if an input type is not provided.

https://github.com/hyperoslo/Form/pull/528

[2016-06-23 21:10] #509 closed

[2016-06-24 03:09] 3lvis opened #529 "Can't style FORMFieldValuesTableViewController cells"

[2016-06-24 03:32] 3lvis commented on #452
Fixed on https://github.com/hyperoslo/Form/pull/479

[2016-06-24 03:32] #452 closed

[2016-06-24 03:33] 3lvis commented on #313
Not critical for now, I'll close it down unless someone else thinks this is useful.

[2016-06-24 03:33] #313 closed

[2016-06-24 03:35] 3lvis commented on #219
Haven't hard of anyone finding this critical. Closing and let's reopen if this becomes critical.

[2016-06-24 03:35] #219 closed

[2016-06-24 03:36] 3lvis commented on #338
No new features for now, let's reconsider after the bug fixes have being fixed.

[2016-06-24 03:36] #338 closed

[2016-06-24 03:36] 3lvis commented on #185
No new features for now, let's reconsider after the bug fixes have being fixed.

[2016-06-24 03:36] #185 closed

[2016-06-24 03:37] 3lvis commented on #480
Fixed on https://github.com/hyperoslo/Form/commit/7ccc28539f4fa7943b88e0173d2625503b0cacd2

[2016-06-24 03:37] #480 closed

[2016-06-24 03:39] 3lvis commented on #499
Closing this one for now since it would require major architectural changes. Let's reconsider once the bugs have been fixed.

[2016-06-24 03:39] #499 closed

[2016-06-24 03:44] 3lvis commented on #271
Closing down, let's reconsider if a Swift rewrite ever happens.

[2016-06-24 03:44] #271 closed

[2016-08-12 22:21] alexliubj opened #530 "Is there a way to get the JSON result of filled form?"
Hi folks,

For e.g, I fill the form with textfield and selection and some other controls and then I want to export this form result as a JSON string, how I can get it?

Thanks,

[2016-08-12 22:23] 3lvis commented on #530
Hi, use `dataSource.values`

https://github.com/hyperoslo/Form#how-do-i-get-all-the-values-of-the-form

[2016-08-12 22:23] #530 closed

[2016-08-12 22:28] alexliubj commented on #530
Thanks, I saw that but I thought it should be static original value but I was wrong.

[2016-08-12 22:37] jeffleeismyhero commented on #530
To expand a little on what @3lvis linked to, `dataSource.values` will return an NSDictionary so you'll need to convert it to JSON separately.

[2016-08-12 22:59] jeffleeismyhero opened #531 "Feature Request: Spacer fields"
To expand on interface flexibility, I'd like to build a "spacer" field. The purpose of this would be to partition the form for readability and data isolation.

![simulator screen shot aug 12 2016 5 55 26 pm](https://cloud.githubusercontent.com/assets/43980/17639264/1eaba8f2-60b6-11e6-8f9b-155d91c6b8cd.png)

This example is somewhat contrived, but I think this functionality can be useful. Would thi

[2016-08-13 05:01] 3lvis commented on #530
Good point, @jeffleeismyhero.

[2016-08-13 05:03] 3lvis commented on #531
Hi @jeffleeismyhero,

Just to be sure. Are you talking about this spaces?

![group](https://cloud.githubusercontent.com/assets/1088217/17641527/0cd2ee74-6124-11e6-8d29-05ce1f121695.png)

[2016-08-13 09:57] jeffleeismyhero commented on #531
Yes, that's correct.

On Saturday, August 13, 2016, Elvis Nuñez <notifications@github.com> wrote:

[2016-08-13 17:01] jeffleeismyhero commented on #531
It could be very useful for buttons too:

![simulator screen shot aug 13 2016 12 00 02 pm](https://cloud.githubusercontent.com/assets/43980/17644504/a32af302-614d-11e6-99ea-f344fbe1504f.png)

[2016-08-14 05:33] 3lvis commented on #531
I see how this could be achievable but I don't see how that would be a good way to separate files, isn't this what you really want?

![group](https://cloud.githubusercontent.com/assets/1088217/17647461/6f058a02-61f1-11e6-93dc-0dce4bae924d.png)

[2016-08-14 13:59] jeffleeismyhero commented on #531
The goal is to have more control over field placement on the line. It may be better to have the ability to specify field margins. So you could say "skip 60 units and then insert this 40 unit field." Which would effectively right align a 40 unit field.

Or you might want to say place this 20 unit field, then place this 40 unit field with 20 units of padding to the left and 20 units of padding on th

[2016-08-14 14:01] jeffleeismyhero commented on #531
That photo just loaded for me. I think that is a great idea as well, but would still like more control within each group.

[2016-08-19 12:33] 3lvis commented on #531
Go for your original approach! Let me know if you need any help. :pray

[2016-08-28 01:56] alexliubj commented on #530
Wait, actually I check it again. `dataSource.values` is not what I want.
I want the original forms.json as well as the values filled but not only the one with values in the dictionary.

Thanks,

[2016-08-28 02:00] alexliubj opened #532 "I want to get result as well as my original JSON."
How should I do it?

The json in test.json file to generate controls, then I fill them.
Now as you mentioned here #530 `datasource.values` but this one only get all the filled field with keys and values but I want a one with those values filled in my original test.json.

Any idea to do it?

Thanks,

[2016-08-28 04:56] 3lvis commented on #532
Hi @alexliubj,

I don't follow. What do you mean with:

Could you rephrase your question, please? Adding an example could help too.

Thanks for following up on this ❤️

[2016-08-28 12:33] alexliubj commented on #532
For e.g., you have this one here as the datasource : https://github.com/hyperoslo/Form/blob/master/Basic-Swift/Resources/forms.json

After user fill the form, I want a method to get the whole json(as forms.json) back with "value" filled in but not a piece of result in a dictionary. In the other word, I want to convert group:section:feilds those objects back to a json object.

`
"id":"first_name",

[2016-08-28 13:25] 3lvis commented on #532
I understand now! Sadly we don't have support for that. Btw, what's the reason you want this? Maybe I can provide a workaround.

[2016-08-28 16:26] alexliubj commented on #532
Hi @3lvis

Well, the purpose is simple. Json file is generated from server, server can preview it when it is generated. If client send back the same json file with filled values, server should be able to view the result as well.

[2016-08-28 16:27] alexliubj commented on #532
Anyways, my solution is I will iterate groups->secitons->fields to generate my JSON object.

Thanks for your help.

[2016-08-28 21:20] 3lvis commented on #532
I see, makes sense, it's awesome that you found a way to preview this on the server. Let me know if there's something tricky when doing your implementation of this, and feel free to submit a pull request. 💐

[2016-08-28 21:20] #532 closed

[2016-09-01 05:39] skarctop opened #533 "the backgroundcolor is black"
This is normal at demo (my test demo), but in other application backgroundcolor is black

![Simulator Screen Shot Sep 1, 2016, 1.36.22 PM.png](https://ooo.0o0.ooo/2016/09/01/57c7bede94a7b.png)

[2016-09-01 07:11] 3lvis commented on #533
Maybe you need to set the color?
https://github.com/hyperoslo/Form/blob/master/Basic-Swift/SampleCollectionViewController.swift#L19

Would you mind providing the JSON file? Something is probably missing.

[2016-09-05 07:24] irshad9998 opened #535 "Add autocomplete textfield"
Can you plz autocomplete textfield facility in this library

here is example
https://github.com/mnbayan/AutocompleteTextfieldSwift

[2016-09-05 22:35] jeffleeismyhero commented on #531
Merged in on #534 and released on https://github.com/hyperoslo/Form/releases/tag/3.11.0

[2016-09-05 22:35] #531 closed

[2016-09-05 22:47] jeffleeismyhero opened #536 "Feature Request: Segmented Control / Switch Field"
Re: #474 and #476

A solution for booleans and an alternative for select fields can be very helpful - especially for one or two options. Both scenarios can be resolved with a UISegmentedControl based solution.

<img width="369" alt="screen shot 2016-09-05 at 5 42 45 pm" src="https://cloud.githubusercontent.com/assets/43980/18257852/39d49ed0-7390-11e6-8ca4-f4384d27e407.png">
<img width="150" alt="s

[2016-09-18 04:22] #533 closed

[2016-09-18 05:05] 3lvis commented on #533
Thanks 😅

[2016-09-18 06:10] skarctop opened #537 "how to make the rounded of field"
how to add rounded like this:
![image](https://cloud.githubusercontent.com/assets/1088217/10798419/d46a4344-7da7-11e5-85b6-80df75cd5209.png)

[2016-09-18 07:34] 3lvis commented on #537
Hi! 👋

You have to do it using FORMTextField's appearance. Something like this.

[code]

For the full file of the screen you're showing check here:

https://github.com/hyperoslo/Form/blob/master/Payment/FORMCustomStyle.m

[2016-09-18 07:34] #537 closed

[2016-09-19 14:55] ff4415 opened #538 "reloadWithDictionary In Form/Source/FORMDataSource.m doesn't reloadData"
https://github.com/hyperoslo/Form/pull/165/commits/acd73cf25d7fefa3f4319fb22e332993eb298d8f
- (void)reloadWithDictionary:(NSDictionary *)dictionary;

it works well but doesn't refresh View after value reloaded. I saw pr in Fix: reloadWithDictionary doesn't run targets #165 which fixed in HYPFormsCollectionViewDataSource.m .

I wonder it's same problem here in FORMDataSource.m

[2016-09-19 15:31] 3lvis commented on #538
Hi!

Thanks for reporting this bug :) Would you mind sharing the JSON you're using with your forms and the dictionary you're using to reload the data. We need this to reproduce the bug to be able to fix it.

[2016-09-19 16:22] jeffleeismyhero commented on #215
Can this be re-opened? I have a condition where I need to hide fields based on a naming pattern and show them later.

[2016-09-19 16:23] 3lvis commented on #215
Sure!

[2016-09-20 02:59] skarctop opened #539 "view move height error, when become first responder"
BecomeFirstResponder view will change height
But it will change twice, first is right, second is wrong

[2016-09-20 06:43] 3lvis commented on #539
Hi! I'm having a hard time understanding your bug report. Would you mind attaching a video showing the issue? I'm sure we can get it fixed :)

[2016-09-20 13:03] ff4415 commented on #538
here is my forms.json

[code]

I just want to clean target when selected item updated in `buildingCategory` .

here is the code in  `self.dataSource.fieldUpdatedBlock`

` [weakSelf.dataSource reloadWithDictionary:@{@"WaterQuota":@0,
                                                        @"HourlyVariationCoefficient":@0
                                                        }];`

and if you look

[2016-09-24 07:20] shiweifu opened #540 "How to change backgroundColor in code?"
Hi.

I want to change the FORMButtonFieldCell's backgroundColor in running and I implemented the  dataSource's "fieldUpdatedBlock" in Controller.

But When I call the ButtonFieldCell's "setBackgroundColor", It not change the field's color.

My code:

[code]

I try to change the HighlightBackgroundColor, It works.
I try to define a style attribute in JSON file with the Field, It also works.

So, Ho

[2016-09-25 17:14] zcpdog opened #541 "Is swift3 supported?"

[2016-09-25 18:17] 3lvis commented on #541
@zcpdog of course, it's an Obj-C lib :)

[2016-09-25 18:17] #541 closed

[2016-10-07 02:13] jeffleeismyhero commented on #540
At first glance, it looks like the original style color is overriding your custom color. Are you setting the initial value for `highlighted_background_color`?

[2016-10-10 20:55] 3lvis commented on #536
![ios-7-style-smooth-toggle-buttons-with-jquery-css3-checkable](https://cloud.githubusercontent.com/assets/1088217/19250799/93cbbffa-8f3c-11e6-9e75-909bd7f0bab5.jpg)

[2016-10-10 20:55] 3lvis commented on #536
Why not that one instead?

[2016-10-10 21:00] jeffleeismyhero commented on #536
Ideally, I'd like to add support for UISwitch as well. In the meantime, UISegmentedControl fields are versatile enough to handle the UISwitch use-cases AND work well with FORM's width-based sizing.

Additionally, UISegmentedControl fields can support more than yes/no based selections.

[2016-10-10 21:01] 3lvis commented on #536
Makes sense. I guess we'll keep the Switch issues open and offer this as a workaround.

[2016-10-19 02:10] huytd opened #547 "Ability to show or hide the Clear button in popover fields"
I have a popover select box, its `validations` field has `required: true`.

And when this select box open as a popover, it show the `Clear` button.

![image](https://cloud.githubusercontent.com/assets/613943/19503094/30db5e20-9566-11e6-970d-98f26db266f4.png)

This is not correct for some kind of requirements, so, I think we need to have the option to show or not show the `Clear` button, we don't n

[2016-10-19 06:49] 3lvis commented on #547
Hi Huy!

Makes a lot of sense. Feel free to submit a pull request. Should be quite simple to get this in place. Otherwise I might take a look at it this weekend.

Best,

[2016-10-21 05:19] huytd commented on #547
Hi @3lvis, yeah I will try 👍

[2016-11-15 07:34] 3lvis opened #558 "Evaluate why pressing clear on a select field makes the `valueID` of select nil"
More info: https://github.com/hyperoslo/Form/pull/553

[2016-11-15 14:52] #536 closed

[2016-11-15 14:55] jeffleeismyhero commented on #476
Would this be different from a Switch? Like a button with an on/off state?

[2016-11-15 15:40] 3lvis commented on #476
I think you already did this one.

[2016-11-15 15:40] #476 closed

[2016-11-18 16:44] bbeckley commented on #429
Any updates on this?  We are evaluating this framework and so far everything seems great, but we ran into this issue were we have some hidden fields initially that are display from a target.

Thanks

[2016-11-21 03:37] jeffleeismyhero commented on #429
@bbeckley To work around this issue, I usually put my hidden fields into a section and then hide that section. This doesn't work as well when fields within the section are hidden and should be shown, but if you structure the JSON with that in mind, you should be able to accomplish what you need.

Section hiding:

[code]

[2016-11-21 06:14] jeffleeismyhero commented on #429
@bbeckley: Please give this branch a try: https://github.com/hyperoslo/Form/tree/hidden_field_order

[2016-11-21 13:07] bbeckley commented on #429
Great. Give me a few hours and I'll pull this and give it a try.

Thanks

On Mon, Nov 21, 2016, 12:14 AM Jeffrey Lee <notifications@github.com> wrote:

[2016-11-21 19:49] bbeckley commented on #429
Thanks Jeffrey,

This seemed to fix the sort order for initially hidden fields based off my
orginal JSON structure (I did build my form with more sections based off
your first email with hiding /showing them, which worked).  A couple of
side notes that I noticed now with your branch, but I should be able to
work around or possible I have configured wrong in my JSON which I will
investigate more la

[2016-11-22 00:38] jeffleeismyhero commented on #429
Hi Brandon,

**2. The segment controller for id "work-comp-claim-filed" which
   shows/hides the additional fields doesn't stay selected when "Yes" is
   selected.  The first time you selected "Yes" the targets run and the
   segment is highlighted for that duration then becomes not highlighted.  If
   I selected "Yes" again it stays highlighted.   If I select "No", no stays
   highlighted.**

Thi

[2016-11-22 15:42] bbeckley commented on #429
Works great.  The segment stays highlighted on first click after the
targets run.  Again, appreciated the quick responses and help with the
fixes.

Thanks

On Mon, Nov 21, 2016 at 6:38 PM, Jeffrey Lee <notifications@github.com>
wrote:

[2016-12-03 20:50] jeffleeismyhero opened #559 "NSRangeException when scrolling to bottom of form with show target action"
As shown in the screen capture below, an `NSRangeException` is thrown when `processTargets` is called with a show target action after scrolling to the bottom of a form.

This crash seems to depend on hitting the view's bounce behavior in conjunction with a show target action. If I remove the show target action OR do not trigger the bounce behavior, the crash does not occur. I am using the default

[2016-12-04 09:47] 3lvis commented on #559
@jeffleeismyhero could you verify if this fixes your issue?

[2017-01-27 01:02] richardtop commented on #558
It's pretty straighforward:
tapping "clear" button triggers this method in `FORMFieldValuesTableViewController`
[code]

Compare it with the one triggered when user selects one of the rows:
[code]
So, in this case, the value is being picked among some valid values.

In the former case, a new value is created and propagated further through the chain.
In case of select-style table (not DatePicker), t

[2017-01-27 01:35] richardtop commented on #547
@huytd could you provide the JSON you're using? I see such popovers only at the bottom:
![image](https://cloud.githubusercontent.com/assets/8013017/22357553/ff45dfc4-e449-11e6-9ff9-bd562fbfab09.png)

[2017-01-27 03:31] sedwo opened #563 "Modifying a 'FORMFields' within 'self.dataSource.allFields' doesn't update its respective 'self.dataSource.values'"
My challenge is that when I update a value like this:

[code]
It doesn't reflect that updated new value within the ```self.dataSource.values``` container.

As I need to update fields within a form that haven't yet been scrolled into view.  And if they never are, then the data that gets saved is missing the updated new value.

I've hacked it by
[code]

But I would expect this to be embedded within

[2017-01-27 11:54] 3lvis commented on #563
Hi @sedwo,

What about doing:

[code]

Could you share a bit more of your JSON structure? I think I could share an example on how to do this if I get some more info.

[2017-01-27 14:19] sedwo commented on #563
Are you suggesting then:
[code]

My thought (and hope) was that ```formField.value``` would update both.  : )

Currently I'm experimenting with this snippet from other comments:

[code]

Does that method make sense?

[2017-01-27 14:21] 3lvis commented on #563
@sedwo what type of field is the one you're trying to update? https://github.com/hyperoslo/Form/blob/master/Source/Models/FORMField.h#L10-L24

[2017-01-27 14:24] sedwo commented on #563
At the moment just TEXT and DATE/TIME strings.

[2017-01-28 03:20] sedwo commented on #563
I added the method:
[code]

to the ```FORMDataSource``` class and it seems to do the job.

Thank you kindly for your feedback.

[2017-01-28 08:50] 3lvis commented on #563
Gonna add a recommendation to the readme.

[2017-01-30 22:17] aminiz opened #564 "Several issues with form input validation"
I want to have a textField where the user can enter numbers between -99.99 and 99.99 with max decimal number equal to 2. I thought the following dictionary would (almost) accomplish this but it doesn't.

`["validations": ["required": "false", "min_value": -99.99, "max_value": 99.99, "max_length": 6], "input_type": "number"]`

This only allows ints and a max of 99 even though I have set the field t

[2017-01-31 17:41] #564 closed

[2017-02-11 06:48] iosdev-republicofapps opened #565 "Cannot build in Xcode 8 due to Hex pod's use of old Swift syntax"
This Form pod is awesome, and I'm eager to use it!  Thanks so much for sharing it.  :-)

I'm trying to build in Xcode 8.2.1 (8C1002) on OS X 10.12.3.  My app has an iOS 10 target and is pure Objective-C.

When I add the Form pod, Xcode asks if it can convert the Hex pod from Swift 2.3 to Swift 3.  I tell it no, because I don't want to convert a Pod dependency since I should treat local pods as rea

[2017-02-11 07:08] iosdev-republicofapps commented on #565
OK, this seems to fix it http://www.ios-blog.co.uk/tutorials/xcode/quick-tip-fix-use-legacy-swift-issue-in-xcode-8-beta-3/ but it would still be nice to remove Hex if possible since it's such a small dependency and an Objective-C replacement would clear this up for others ... :-)  What are your thoughts on this?

Basically, I had to add the following to the end of my Podfile:

[code]

That feels g

[2017-02-11 07:17] 3lvis commented on #565
@iosdev-republicofapps Makes sense, gonna drop it!

[2017-02-11 07:50] 3lvis commented on #565
Hex removed on 3.13.0

https://github.com/hyperoslo/Form/releases/tag/3.13.0

[2017-02-11 07:50] #565 closed

[2017-02-11 07:50] 3lvis commented on #559
I believe this is fixed now. https://github.com/hyperoslo/Form/pull/560

[2017-02-11 07:50] #559 closed

[2017-02-11 08:14] iosdev-republicofapps commented on #565
Thanks @3lvis !  I will upgrade to 3.13.0.

[2017-02-11 08:17] iosdev-republicofapps opened #567 "Feature Request: Consider adding standard UITextView field type"
Could we add something like the BiographyField but as a standard text_area type or similar that uses UITextView so that users wouldn't need to create their own versions?

I'm happy to code a PR for this if there's interest ... Does this sound interesting and if so could you give me a few pointers where to get started/what to watch out for?

Thanks again for this awesome pod, I'm really enjoying Fo

[2017-02-11 08:30] 3lvis commented on #567
That would be a great feature @iosdev-republicofapps!

Make a new cell class and register it in the FORMDataSource, if you need any help let me know :)

https://github.com/hyperoslo/Form/tree/master/Source/Cells

I'm also in Gitter, usually makes it easier to talk about code.

https://gitter.im/hyperoslo/Form

[2017-02-12 07:13] iosdev-republicofapps opened #568 "Feature Proposal: Show validation error message beside form field title"
Hi,

Really enjoying Form, thanks again for making this available!

I notice that when form fields fail validation, they turn to red, which is great.  But although the color is red, it doesn't show *what* is wrong, only that *something* is wrong with the field.  I thought about showing validation failures in an alert, but that would require the user to remember those failure messages and then go c

[2017-02-12 07:51] 3lvis commented on #568
Hi @iosdev-republicofapps,

In our app we have a similar feature, the difference is that we didn't add the error messaging to the form fields because it would mean that the layout would change and this could be problematic since you could be typing the currently focused field would jump to a different position, bothering the user.

The way we solved this issue was by having an "error indicator" in

[2017-02-12 08:57] iosdev-republicofapps commented on #568
Thanks @3lvis that's a good idea.

I would try that, but my concern is that I want to be able to see the validation errors when the keyboard is showing because that's when the user is fixing the validation issues and I feel that they'd like to see the validation errors then.  I'm worried that the keyboard would cover the validation error popover ... and on iPhone I don't have access to UIPopover.

[2017-02-12 09:42] 3lvis commented on #568
Hi @iosdev-republicofapps,

On an iPhone, you could probably use a UIAlertController or a custom modal screen. Adding inline validation error might be more work than it sounds, or do you have some suggestions on how we could do this without messing up with the layout?

Another option is to use the "info" field in the form field, this info field shows a small pop up when the user focuses on the fie

[2017-02-12 09:54] 3lvis commented on #568
Another reason for why only displaying the validation errors inline might be a bad idea is because if it's a long form and the fields that are failing are off-screen the user basically has to scan the entire thing to figure out why things aren't working, this is not a problem if you have a toolbar or a floating indicator of issues.

[2017-02-12 20:11] iosdev-republicofapps commented on #568
@3lvis the info field works pretty well.  I have to add newlines to make it occupy several lines but I can use that, thanks!

I suppose I could add the info fields only in the case of validation failures if I don't want to always show them?  I'm not sure if showing the info field would be distracting to people that fill out the field repetitively and know the constraints on values from past experi

[2017-02-12 20:16] iosdev-republicofapps commented on #568
The info popup seems to be limited to about 3 lines of text on an iPhone 6.  Is there an option to adjust the popup height?

Also, I'd like to modify the keyboard type of some fields (i.e. to turn off spelling suggestions, etc) and I'm not sure how to access the keyboard.

Sorry for all the questions ...

Cheers!

[2017-02-12 20:26] iosdev-republicofapps commented on #568
It looks like the info popover appears on the wrong field in some cases.  For example, here, I'm editing in the second (middle tags field) but the info popover hangs off of the third (rightmost tags field).  Any ideas?

![image](https://cloud.githubusercontent.com/assets/1666680/22865688/4df4a37c-f11e-11e6-82c6-7e84f8e8becd.png)

It seems to depend on the width of the popover's text though.  If I

[2017-02-12 23:40] 3lvis commented on #568
The fact that the info bubble appears in a different form field seems like a bug. Might be nice to isolate in order to figure out a fix.

[2017-02-12 23:44] 3lvis commented on #568
Regarding modifying the keyboard you have to use the form fields' `input_type`. These are the available mappings: https://github.com/hyperoslo/Form/blob/efde99850ce61586d8ce28c3a4c4875c7d637498/Source/Cells/Views/FORMTextField.m#L188-L219

And this is how each input type is configured. https://github.com/hyperoslo/Form/blob/2c7bae694f143ceb7f37196c48d9f02c2f9e2cbf/Source/Cells/Views/FORMTextFieldT

[2017-02-13 17:46] aminiz opened #569 "Feature Request: Allow custom input validator"
I would like to subclass FORMInputValidator.

This will give us a lot of flexibility. Initially, I need to use it to limit users to certain regex like one that would require a number with 2 decimal digits.

[2017-02-15 20:49] 3lvis commented on #569
Hi @aminiz,

This should already be possible, gonna put an example.

[2017-02-16 17:06] sedwo commented on #563
**fyi**
After further usage and testing, I simplified the method to simply be:

[code]

[2017-02-24 22:06] aminiz commented on #569
Thanks @3lvis

All I really need is a pointer to get me started.

[2017-03-04 15:31] 3lvis commented on #569
Damn, went on vacations and forgot about this. Sorry.

[2017-03-06 21:03] aminiz commented on #569
@3lvis No worries! I can do any work required for this (be it making an example or implementing something) as long as I know what to do :)

[2017-03-07 22:29] 3lvis commented on #569
OK! Got the time to add a demo for it, sadly it only works for Objective-C validators.

Form checks for the field id and looks for a validator for it. So if your field id is "External" it will look for FORMExternalValidator, then use that to validate the field.

I added a field with id "branded" for the demo.

https://github.com/hyperoslo/Form/tree/master/Basic-Swift

I hope this works for you, ot

[2017-03-07 22:29] 3lvis commented on #569
A few validators to be used as examples.

https://github.com/hyperoslo/Form/tree/master/Source/Validators

[2017-03-07 22:30] aminiz commented on #569
Thanks! I will try them now.

[2017-03-07 22:30] #569 closed

[2017-03-08 00:19] aminiz commented on #569
Both FormValidator and FormInputValidator work like a charm!

[2017-05-01 22:11] aminiz commented on #242
Is there any chance of implementing this still?

[2017-05-02 04:15] 3lvis commented on #242
@aminiz maybe any of the contributors or you might help with this, personally, I don't think I will have the chance to add this feature. If you need support working on this, hit me up on https://gitter.im/hyperoslo/Form

[2017-05-29 15:35] jasper-chan opened #573 "How does one subscribe a custom cell's FORMBaseFieldDelegate to the conforming class FORMDataSource?"
Hello,

Recently we've been creating our own custom cell classes. I subclassed them off of the FORMBaseFieldCell class and I would like to make use of the delegate in there. What is the recommended way for someone to set the delegate found in FORMBaseFieldCell to the conforming class FORMDataSource without directly modifying the source code?

[2017-05-30 11:53] 3lvis commented on #573
Hi @jasper-chan,

The process of adding custom cells is not optimal at the moment, currently, there's no way to make a custom cell behave like a normal embedded cell, a custom cell just has to handle everything on its own.

If you have any suggestions on how we could improve this let us know.

[2017-06-16 19:06] jasper-ch-chan opened #574 "Use case difference between Sections and Fields"
Not an issue, but I am struggling to understand the use case difference between a Section and a Field.

Assume I have a simple form of 2 text fields: First Name and Last Name. Suppose also I want the First Name cell to be on the top, and the Last Name cell to be directly below it.

Presently, you can implement the JSON as 1 section with 2 fields of 100% width each, or 2 sections with 1 field each.

[2017-06-16 19:19] 3lvis commented on #574
Hi @jasper-ch-chan,

A section groups a bunch of fields that represent the same category. For example, first name and last name belong to the category "Personal details" if you had a field called "Monthly salary" could go into "Contract details", etc.

The main difference is that Form takes your fields and groups them using a header:

![basic-form](https://user-images.githubusercontent.com/1088217

[2017-06-16 19:20] jasper-ch-chan commented on #574
Hi @3lvis

Doesn't that sound like Groups then? So are you saying that section doesn't really play any real UI aspect to it, but rather its just a data container for fields?

[2017-06-16 19:51] 3lvis commented on #574
@jasper-ch-chan My bad, was mistaking sections with groups, a section draws a separator line.

[2017-06-16 19:57] jeffleeismyhero commented on #574
@jasper-ch-chan You might use a section when you don't want the fields to take up the full-width of the screen but still wish to start a new area for fields:

<img width="567" alt="form-section" src="https://user-images.githubusercontent.com/43980/27242580-891fa85c-52a3-11e7-816c-886d4a2ded0e.png">

Another benefit of putting fields into sections is that you can act on the entire section rather th

[2017-06-16 23:04] jasper-ch-chan commented on #574
@jeffleeismyhero @3lvis
Thanks for your explanation. I see what the difference is between the two now.

[2017-06-16 23:04] #574 closed

[2017-06-19 18:28] pranavksahu opened #575 "Dynamic Buttons"
Hello,

I am trying the FORM to render dynamic User interface. I like my button actions to be dynamic too. Like when user clicks a button open an URL from a Textfield in the same screen. Or copy some data from a field and paste in another textfield in same screen. So looking for dynamic button actions. Is this something can be doable ? Appreciate any suggestions here

Thanks
--Pranav

[2017-06-20 04:18] 3lvis commented on #575
Hi @pranavksahu!

Sure, check the Payment demo, there we have a fieldUpdatedBlock, basically, after setting this block your app will be informed of any event on the fields.

[In this demo](https://github.com/hyperoslo/Form/blob/master/Payment/RootController.swift#L18-L28) the app gets informed when the pay button gets tapped.

Let me know if there's anything else we can do for you :)

[2017-06-20 18:15] pranavksahu commented on #575
Hello,

Yep i looked into fieldUpdatedBlock which gives back the event.

Which is one step. 2nd Step i am looking into different types of actions a button can have.

Suppose i have a screen with a textfield and user enters a URL. On tap of the button i wanna open safari.

Like that i might have some fields and based on the screen the button action can be dynamic.

I am looking for something where

[2017-06-20 20:47] 3lvis commented on #575
Hi @pranavksahu,

I think you will have to do it in your own fork of Form and before the `fieldUpdatedBlock` method gets called to check for any of your registered methods.

[2017-06-22 17:24] jasper-ch-chan opened #576 "[Question] How does your GroupHeaders keep track of their collapsed state upon dequeue?"
I'm trying to trace the logic of how your group headers keep track of their collapsed state. The scenario would be like so:

1) Collapse a group
2) Scroll down so the group disappears from screen
3) Scroll back up so it gets re-instantiated for view

I'm failing to figure out where you guys figure out if it should be collapsed or not. I only see the part where you assign if it is collapsible.

Tha

[2017-06-22 20:27] 3lvis commented on #576
Hi @jasper-ch-chan! Did you get it working?

[2017-06-22 20:58] jasper-ch-chan commented on #576
Hi @3lvis I think I have an understanding of what is happening, however, I'm not sure why it was designed that way. It seems like for every group header, you register a the FORMGroupHeaderView class with a new identifier. Why is that? Why not just re-use the same identifier?

[2017-06-22 21:00] jeffleeismyhero commented on #576
In order to support element-independent styles, the reuse identifiers must be unique. Otherwise, all elements would get the same styling -- which isn't always desired.

[2017-06-22 21:02] jasper-ch-chan commented on #576
hi @jeffleeismyhero I see. And could you kindly point to me how you guys are re-assigning the collapsed state of the group header itself? I can't seem to find that anywhere.

[2017-06-22 21:12] jeffleeismyhero commented on #576
@jasper-ch-chan I'm not able to replicate the issue you've described. Nevertheless, you can look for three different collapsed-related terms/keywords in the code:

1. `collapsed` (the default state)
2. `collapse` (the action/method used to actually collapse)
3. `collapsible` (whether a group can be collapsed

https://github.com/hyperoslo/Form/search?utf8=%E2%9C%93&q=collapse&type=Code

If you can

[2017-06-22 21:28] jasper-ch-chan commented on #576
Hi @jeffleeismyhero So the issue is that our JSON itself, sets a few group headers to be not collapsed by default. Lets say I collapse said group, scroll down so the header disappears. Then I scroll back up so the header appears. This will trigger my `configureGroupHeaderAtIndexPathBlock`

Inside this block, we assign the collapsible and collapsed state via the FORMGroup object being provided. How

[2017-06-22 21:34] jeffleeismyhero commented on #576
@jasper-ch-chan so you are using `configureGroupHeaderAtIndexPathBlock` to custom configure the group header? Can you post that method?

[2017-06-22 21:38] jasper-ch-chan commented on #576
@jeffleeismyhero

`    self.dataSource.configureGroupHeaderAtIndexPathBlock =  ^UICollectionReusableView *(FORMGroup *group,
                                                                                        UICollectionView *collectionView,
                                                                                        NSIndexPath *indexPath) {
        NSString *identifier = [NSStrin

[2017-06-26 11:22] hiren43 opened #577 "How to create form templates which creates JSON?"
This library is helpful for reading JSON and building form UI. I want to allow users to create form templates which creates JSON, then the JSON is used using this library. So is it possible using this library? Is there any library for this to create form templates?

[2017-06-26 16:05] 3lvis commented on #577
Hi @Hiren43,

Back when we were creating this app we thought about something like what you are mentioning, in the end we ended up for discarding the idea but I think it would be really useful. Sadly, we don't have anything like it but if you go for it let us know!

[2017-06-28 07:20] hiren43 commented on #577
Thanks for your reply. I'm trying to create JSON which matches your syntax of JSON file. Is there any way I can ignore group which allows feature of collapsing data? If I don't write group in JSON, your code is not working.

[2017-06-28 08:18] 3lvis commented on #577
Hi @hiren43,

Check the LoginDemo -> https://github.com/hyperoslo/Form/tree/master/LoginDemo

[2017-06-29 13:18] hiren43 commented on #577
Hi @3lvis
I will look for that demo. Is there any way I can use UITextView. I'm not able to find in your library. How could you skip that? Its so important to give multiline textfield in forms. Please reply ASAP. Thanks

[2017-06-29 13:27] 3lvis commented on #577
@hiren43 we don't have support for UITextView it's something you would have to add as a custom field.

[2017-06-30 10:45] hiren43 commented on #577
Hi @3lvis Is there any attribute for type 'date' which can show default value?

[2017-06-30 11:48] 3lvis commented on #577
@hiren43 We have a date field but I don't think it supports default values. We don't have a multi select field but we've been discussing making one in https://gitter.im/hyperoslo/Form

[2017-07-01 11:06] 3lvis commented on #577
@hiren43 This library is in maintainance mode, sadly new features will have to come in the form of external contributions.

[2017-07-05 05:47] dlpigpen opened #578 "Do the Form support multiple checkboxes?"

[2017-07-05 06:20] 3lvis commented on #578
Hi @dlpigpen!

I don't see why that wouldn't work :) let me know if you have any issues.

[2017-07-05 06:23] dlpigpen commented on #578
I read the document carefully and watched the demo but I could not find the "type" for multiple select and any demo to do that.

Form should have this type because in fact,  I and many people are looking this feature. Could you help?

[2017-07-05 08:04] 3lvis opened #579 "Add tests for Hidden field order #571"

[2017-07-07 13:38] 3lvis commented on #578
@dlpigpen Hi,

I think I know what you mean now. We don't have a multi-select field.

[2017-07-18 11:09] hiren43 commented on #577
@3lvis HI. I'm doing great with this library. But we are trying to develop same application in Android as well. So we are looking for same/similar library which can accept same JSON data to create form. If you know about Android library, please do tell me.

[2017-07-18 11:19] 3lvis commented on #577
Hi @hiren43 I haven't seen an Android version of Form but if you do find or make one, please let me know!

[2017-07-19 12:06] #579 closed

[2017-07-19 12:06] #558 closed

[2017-07-19 12:06] #529 closed

[2017-07-19 12:06] #463 closed

[2017-07-19 12:06] #373 closed

[2017-07-19 12:06] #372 closed

[2017-07-19 12:06] #342 closed

[2017-07-19 12:07] #215 closed

[2017-07-19 12:07] #124 closed

[2017-07-19 12:07] #85 closed

[2017-07-28 01:27] #538 closed

[2017-08-17 06:04] hiren43 opened #581 "How do I choose id for every elements?"
I just encountered a problem for elements having same id won't work. This information will not be entered by users. We developers have to choose unique id for all elements. So can I use numbers starts from 1 as id for all elements like 1 for first element and 2 for second element and so on.
Please advise me on this as soon as possible. Thank you

[2017-08-17 10:20] 3lvis commented on #581
Hi @hiren43,

The recommended id for elements is composed of the section and the title of the field. For example, you could have several sections with the field name.

- ID `personal-details.first_name` (Your first name)
- ID `partnership-details.first_name`(your wife or husbands first name)

I hope that's clear enough :) Let me know if I can help with anything else.

[2017-08-21 14:27] mmarbouh opened #582 "NSInternalInconsistency exception when attempting to process FORMTarget"
Hi,

# The Issue
I am trying to automate the process of filling form field data based on data present in other fields. Basically, implement a rules engine of sorts into forms. For example, if a checkbox gets checked, it'll hide a specific field further down the line, and vice versa if it's unchecked.

The logic behind this is already fleshed out, and functional, but only when the form isn't too bi

[2017-08-22 22:29] 3lvis commented on #582
Hi @mmarbouh, I was trying to reproduce your issue but got a bit confused, also the JSON that you provided doesn't work out of the box with the demo project since it needs a few custom fields. Could you please provide a sample project that shows the problem?

Thanks in advance :)

[2017-09-04 17:25] jamrader opened #583 "Swift Syntax Error"
Including these two lines in my pod file

use_frameworks!
pod 'Form'

I'm getting a Swift version error when I try to build. At that point, I Edit > Convert to current Swift Syntax.

Unfortunately, I then get an error that says the line
#import "UIColor+Hex.h"
does not exist. I go through and remove all code that references that file. Then at that point I try to build but am getting a Apple Mach-O

[2017-09-04 20:14] 3lvis commented on #583
Hi @jamrader! Which version of Xcode and Swift are you using?

[2017-10-16 16:25] ServicePal commented on #578
Great suggestion though. Having a field that can store multiple values selected from a list. Alternatively, it could also be a field type that would allow you to have multiple tags, all validated from a predefined list.

<img width="439" alt="tags" src="https://user-images.githubusercontent.com/8471863/31623293-d6cdad64-b253-11e7-949e-72b98d81efcf.png">

[2017-11-20 02:18] riverleung commented on #578
@3lvis Hi, this Form engine works really great for us, only that our forms have a lot of checkbox fields, therefore, we really need a field that could support multiple values. Is it possible to simply make the segment field support multiple selections?   thank you!

[2017-11-20 02:24] riverleung commented on #523
@3lvis Hi,

I am trying to write a custom field to support multiple selection (like a checkbox), how could I get the "values" fromt the form fields json?  I need it to render the selection UI, kindly advise. thank you!

[2018-03-14 00:09] kaifucious opened #584 "FORMFieldValuesTableViewController navigation bar title color change"
I've been looking around, and can't seem to find out how to modify the cancel, title, and done button title colors above the table view for say, a date picker (the default color is white). Any advice?

Thanks!

[2018-03-14 00:56] #584 closed

[2018-04-17 08:14] AnthoPakPak opened #585 "Segment get unselected when combined with Show target"
Hi,

I've just tried to use the library but I encounter a bug with segment. I've bind a Show target on a specific value of the segment, and a Hide one on others. Whenever I click on the value with the Show target, the value get instantly unselected (it looks like it deselect when the Show has completed). The target field is correctly shown, but the clicked segment value get deselected. If I click

[2018-04-17 14:40] AnthoPakPak commented on #585
I've found that the issue had already been "solved" here [PR](https://github.com/hyperoslo/Form/pull/571/commits/03535e0ae60b1e08ef26fb949b4ee180cba9b139), but changes had not been reported in Cocoapods version.

But I've made a fix to get expected behavior :

replace
`if (selectedIndex || selectedIndex == 0)`
with
`if (selectedIndex && selectedIndex != UISegmentedControlNoSegment)`

[2018-04-17 14:40] #585 closed

[2018-04-18 15:04] AnthoPakPak opened #587 "Show/Hide group"
Does anybody has an idea on how to show/hide groups like we can do with targets on fields/sections (even outside of json) ?

I've tried many things, such as removing the cells from collectionView (as groups are composed of cells), but it mess with IDs so I thought it wasn't a good start. I've also tried to collapse group + hide header, but it's not perfect as it leaves a small space (can be tweake

[2018-04-20 10:06] AnthoPakPak commented on #360
I've just faced this issue. While debugging I've found that when `- (void)showTooltip` get called, `self.showTooltips` was set to NO, which cause the info label to not showing.
I've tried to search around NSNotificationCenter as showTooltips get updated in `- (void)showTooltip:(NSNotification *)notification` but with no success.

But a quick fix is to set `self.showTooltips = YES;` in `- (instance

[2018-04-27 08:55] AnthoPakPak commented on #587
I've succeeded in hiding/showing groups, if anyone is interested, feel free to ask me :)
I'm not making a PR as I don't know if people are interested in this feature.

[2018-04-27 08:56] #587 closed

[2018-04-27 10:27] AnthoPakPak commented on #587
Hi @3lvis :)

With pleasure, I've just pushed the code ;)

Indeed, I've made a few improvements in the lib to fit my needs. Code may (must!) need refactoring/cleaning/testing, but it works great on my side.

Some features :
- Show/Hide groups (no animation, just adds section to collectionView then reload)
- Add AutoComplete field, based on Popover (named FORMDropdownFieldCell) and "dropdown" in js

[2018-04-27 12:59] AnthoPakPak commented on #587
I've succeeded in animating show/hide groups, added to the repo ;)

[2018-04-27 13:46] 3lvis commented on #587
🔥 🔥 🔥 🔥 🔥 🔥 🔥

[2018-04-27 13:50] jeffleeismyhero commented on #587
@AnthoPakPak thanks for this great work. Could you point me to the changes made to fix this:

- Fix really annoying crash when perform show target while group below is visible (difficult to reproduce, easier on iPad)

[2018-04-30 08:04] AnthoPakPak commented on #587
@jeffleeismyhero Sure :)

https://github.com/AnthoPakPak/FormCustom/blob/master/Source/FORMLayout.m#L158
and
https://github.com/AnthoPakPak/FormCustom/blob/master/Source/FORMLayout.m#L178

I had to encapsulate the code in a @try @catch block to avoid out of bounds as a casual check (`if (lastIndexPath.row < fields.count)`) returned true, but the concurrency will change number of fields on the same

[2018-05-16 10:41] AnthoPakPak opened #590 "Memory leaks in demo project (and so in projects using the lib)"
Hi everybody,

While profiling my project in Instruments, I've noticed that my view controller using `Form` was generating a memory leak. I've tried to find the culprit but I didn't succeeded.

I've found that the demo project (`Basic-ObjC` in my case) is also concerned. As I'm not really good at debugging memory leaks and retain cycles, I asking for your help/ideas.

What I've found using Instrum

[2018-06-26 10:30] richardtop opened #591 "Potential memory leaks in Model layer"
_FormField_ refers to _FormSection_, which refers to _FormGroup_ (strong reference).
On the other hand, _FormGroup_ contains Sections, which contains Fields.
Such an arrangement can be a source of memory leaks.

[2018-07-19 05:00] chy89310 opened #592 "View transition bug when keyboard show, only in iOS 11"
Hi, I have a problem when i try to run this project in a iOS11 device.

For detail check the gif:
![jul-19-2018 12-49-44](https://user-images.githubusercontent.com/4516254/42922518-70755646-8b53-11e8-8012-094601b32fb7.gif)

[2018-08-01 03:52] chy89310 opened #593 "Multiselect support"
Hi guys! Appreciate your great job to save my life!

I've meet an issue to support multiple select in my project just like many other people using this plugin do.

And finally me and my college come up with a solution to extend the FORMSelectFieldCell to support multiple select to make things simple. Gif show how it work:
![aug-01-2018 11-51-33](https://user-images.githubusercontent.com/4516254/43

[2018-08-01 07:40] 3lvis commented on #593
Hi Kevin! I think this is a great MVP for multiselect. Would you mind making a PR with it?

[2018-08-01 10:16] chy89310 commented on #593
@3lvis I'd love to. I will checkout the latest commit and make a PR ASAP.

[2018-08-06 04:59] chy89310 commented on #593
@3lvis PR created! #594
Please advice if any unit test is required. Thank you.

[2018-10-09 15:28] AnthoPakPak commented on #592
I've got this issue too, library is no longer usable with it… 😥

[2018-10-09 18:45] chy89310 commented on #592
you can refer to my commit in a fork repo. Which can solve the problem simply.

[https://github.com/kevinsumios/Form/commit/c06ada3b5caf652a7d92551ce748df37ee5e3843](https://github.com/kevinsumios/Form/commit/c06ada3b5caf652a7d92551ce748df37ee5e3843)

[2018-10-09 18:49] AnthoPakPak commented on #592
@chy89310 Thanks, I'll give it a try ! 👍
From what I've see, you've simply removed all keyboard related stuff. Did you add another keyboard management or library (such as IQKeyboardManager) to handle view moving when opening keyboard ?

[2018-10-09 19:06] chy89310 commented on #592
Actually i don't, and that's the same problem i curious about. Since this work around works for me, i don't take much time to learn about how the view move by it self even though i remove the notification observer. Maybe it's a new feature of iOS 11 i guess.

[2018-10-09 19:09] AnthoPakPak commented on #592
@chy89310 Okay, I will look into it tomorrow and give you some feedback 😉

[2018-10-09 21:31] 3lvis commented on #592
I guess this is iOS 11 and above`/

[2018-11-29 01:49] richardtop commented on #593
I'm closing this issue as the implementation has been merged.

[2018-11-29 01:49] #593 closed

[2018-12-01 06:53] 3lvis commented on #593
🔥

[2019-04-03 02:24] chy89310 commented on #242
refer to pr #594
already add this feature, hope this help